<div class="comprehension-slideshow">
  <div
    *ngFor="let comprehensionSlide of model.slides; let i = index"
    [ngClass]="{ 'comprehension-slide': true, 'comprehension-slide--active': currentSlide === i }"
    id="slide_{{ i + 1 }}"
  >
    <span class="comprehension-slide__icon">
      <grit-icon>{{ comprehensionSlide.icon }}</grit-icon>
    </span>
    <h1 class="comprehension-slide__heading" [innerHtml]="comprehensionSlide.heading"></h1>
    <div class="comprehension-slide__body-copy" [innerHtml]="comprehensionSlide.bodyCopy"></div>
  </div>
  <div class="comprehension-slideshow-controls">
    <span
      [ngClass]="{
        'comprehension-slideshow-controls__previous-label': true,
        'comprehension-slideshow-controls__previous-label--hidden': currentSlide <= 0
      }"
      (click)="previous()"
      >{{ model.slideControls.previousLabel }}</span
    >
    <span class="comprehension-slideshow-controls__slide-indicators">
      <span
        *ngFor="let comprehensionSlide of model.slides; let i = index"
        [ngClass]="{
          'comprehension-slideshow-controls__slide-indicator': true,
          'comprehension-slideshow-controls__slide-indicator--active': currentSlide === i
        }"
        id="slide_indicator_{{ i }}"
      ></span>
    </span>
    <span class="comprehension-slideshow-controls__next-label" (click)="next()">{{
      model.slideControls.nextLabel
    }}</span>
  </div>
</div>
