@import '../globals.scss';

.comprehension-slideshow {
  display: flex;
  flex-direction: column;
  min-height: calc(#{$min-height} - #{$min-height-header});
  overflow: hidden;
  padding: 3.5rem 2rem 2rem 2rem;
  position: relative;
}

.comprehension-slide {
  flex: 1;
  position: absolute;
  right: -$max-width;
  width: calc(#{$max-width} - 4rem);

  &--active {
    position: relative;
    right: auto;
  }

  &__body-copy {
    @extend .uae-body-copy;

    ::ng-deep p {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__heading {
    @extend .uae-heading;
    margin-bottom: 2rem;
  }

  &__icon {
    align-items: center;
    align-self: center;
    border: solid 0.125rem $blue500;
    border-radius: 100%;
    display: flex;
    height: 2.25rem;
    justify-content: center;
    margin: 0 auto 2.5625rem auto;
    position: relative;
    width: 2.25rem;

    &:after {
      border: solid 9px $blue200;
      border-radius: 100%;
      box-sizing: content-box;
      content: '';
      height: 2.25rem;
      position: absolute;
      width: 2.25rem;
      z-index: 0;
    }

    grit-icon {
      border-radius: 100%;
      color: $blue500;
    }
  }
}

.comprehension-slideshow-controls {
  display: flex;

  &__previous-label {
    @include font-field-label-l;
    align-self: center;
    color: $neutral800;
    cursor: pointer;
    display: flex;
    user-select: none;

    &--hidden {
      visibility: hidden;
    }
  }

  &__slide-indicators {
    align-self: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    margin: 0 0.25rem;
  }

  &__slide-indicator {
    background-color: $neutral400;
    border-radius: 100%;
    display: inline-block;
    height: 0.5rem;
    margin-left: 0.25rem;
    width: 0.5rem;

    &:first-of-type {
      margin-left: 0;
    }
  }

  &__slide-indicator--active {
    background-color: $neutral600;
  }

  &__next-label {
    @include font-field-label-l;
    align-self: center;
    color: $blue500;
    cursor: pointer;
    display: flex;
    user-select: none;
  }
}
