<div [formGroup]="bankInfoForm">
  <div class="title">{{ 'BankInfo.Title' | translate }}</div>
  <div class="sub-title top-space1">{{ 'BankInfo.Subtitle' | translate }}</div>

  <div class="top-space3">
    <grit-field size="sm">
      <label gritLabel>{{
        'BankInfo.Labels.BankRoutingNumber' | translate
      }}</label>
      <input
        gritInput
        id="input-routing-number"
        #bankRoutingNumber="gritInput"
        formControlName="bankRoutingNumber"
        (keypress)="disallowNonDigitInput($event)"
        maxlength="9"
      />
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>account_balance</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon
          gritSuffixIcon
          id="input-routing-number-icon-checkmark"
          class="fg-green500"
          [visible]="
            !bankRoutingNumber.isFocused &&
            bankRoutingNumber.value &&
            !bankRoutingNumber.isError
          "
        >
          done</grit-icon
        >
        <grit-icon
          gritSuffixIcon
          id="input-routing-number-icon-error"
          class="fg-red500"
          [visible]="bankRoutingNumber.isError"
          >warning</grit-icon
        >
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritHint id="input-routing-number-hint">{{
          'BankInfo.Hints.BankRoutingNumber' | translate
        }}</span>
        <span
          gritValidationErrorTracker
          gritError
          id="input-routing-number-err-required"
          for="required"
          >{{ 'BankInfo.Errors.BankRoutingNumberRequired' | translate }}</span
        >
        <span
          gritValidationErrorTracker
          gritError
          id="input-routing-number-err-length"
          for="lengthRequirement"
          >{{ 'BankInfo.Errors.BankRoutingNumberFormatting' | translate }}</span
        >
        <span
          gritValidationErrorTracker
          gritError
          id="input-routing-number-err-invalid"
          for="invalidRoutingNumber"
          >{{ 'BankInfo.Errors.BankRoutingInvalid' | translate }}</span
        >
      </grit-subscript-messages>
    </grit-field>
  </div>

  <div
    [class.media-query-top-space3]="
      bankRoutingNumber.isError ||
      bankRoutingNumber.isFocused ||
      bankRoutingNumber.value
    "
  >
    <grit-field size="sm">
      <label gritLabel>{{
        'BankInfo.Labels.BankAccountNumber' | translate
      }}</label>
      <input
        gritInput
        id="input-account-number"
        #bankAccountNumber="gritInput"
        formControlName="bankAccountNumber"
        (keypress)="disallowNonDigitInput($event)"
        maxlength="17"
        autocomplete="aus"
        timerTextMask
        (maskChanged)="onMaskChanged($event)"
        [timeoutSecs]="3"
        [isMasked]="isMasked"
        type="password"
      />
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>security</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon
          gritSuffixIcon
          id="input-account-number-icon-checkmark"
          class="fg-green500"
          [visible]="bankAccountNumber.value && !bankAccountNumber.isError"
          >done</grit-icon
        >
        <grit-icon
          gritSuffixIcon
          id="input-account-number-icon-error"
          class="fg-red500"
          [visible]="bankAccountNumber.isError"
          >warning</grit-icon
        >
        <grit-icon
          gritSuffixIcon
          id="input-account-number-icon-show"
          style="pointer-events: all;"
          [visible]="bankAccountNumber.value && !isMasked"
          (click)="onMaskChanged(!isMasked)"
          class="clickable"
          >visibility</grit-icon
        >
        <grit-icon
          gritSuffixIcon
          id="input-account-number-icon-hide"
          style="pointer-events: all;"
          [visible]="bankAccountNumber.value && isMasked"
          (click)="onMaskChanged(!isMasked)"
          class="clickable"
          >visibility_off</grit-icon
        >
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritHint id="input-account-number-hint">{{
          'BankInfo.Hints.CheckingAccountNumber' | translate
        }}</span>
        <span
          gritValidationErrorTracker
          gritError
          id="input-account-number-err-required"
          for="required"
          >{{
            'BankInfo.Errors.CheckingAccountNumberRequired' | translate
          }}</span
        >
        <span
          gritValidationErrorTracker
          gritError
          id="input-account-number-err-invalid"
          for="invalidName"
          >{{
            'BankInfo.Errors.CheckingAccountNumberFormatting' | translate
          }}</span
        >
      </grit-subscript-messages>
    </grit-field>
  </div>

  <div
    [class.media-query-top-space3]="
      bankAccountNumber.isError ||
      bankAccountNumber.isFocused ||
      bankAccountNumber.value
    "
    class="flex-content"
  >
    <button
      id="continue-button"
      gritButton
      color="primary"
      class="btnContinue"
      (click)="onContinue()"
      [disabled]="bankInfoForm.invalid"
      [loading]="saveResumableStatus.status === statuses.Sending"
    >
      <em class="material-icons-outlined">https</em>
      <span>{{ 'Common.Buttons.Continue' | translate }}</span>
    </button>
  </div>

  <div class="top-space3 flex-content">
    <span class="material-icons-outlined">https</span>
    <span>
      <p class="paragraph left-space1">
        {{ 'Common.Messages.SensitiveData' | translate }}
      </p>
    </span>
  </div>
</div>
