<div class="terms-sheet">
    <h1 class="terms-sheet__heading">{{ model.heading }}</h1>
    <div
        *ngIf="model.bodyCopy"
        class="terms-sheet__body-copy"
        [innerHtml]="model.bodyCopy"></div>
    <ul class="terms-sheet__terms">
        <li *ngFor="let term of model.terms" class="terms-sheet__term" [innerHtml]="term"></li>
    </ul>
    <button
        class="terms-sheet__agreement-label"
        gritButton
        color="primary"
        (click)="agreeToTerms()"
    >{{ model.agreementLabel }}</button>
</div>
