@import '~libs/shared/ui/src/lib/styleGuides/index';

:host {
  display: block;
  background: #ffffff;
}

.tear-drop-container {
  height: space(10);
  background: rgb(255, 255, 255);
  border-radius: space(0.25);
  border: 1px solid rgb(244, 246, 248);
  box-shadow: 0px 0px 1px 0px rgba(33, 43, 54, 0.16),
  0px 1px 1px 0px rgba(33, 43, 54, 0.16);

  & .call-icon {
    color: #919eab;
  }

  & .highlight-label {
    color: rgb(69, 79, 91);
    font-family: Montserrat-Bold;
    font-size: space(2);
    font-weight: bold;
    letter-spacing: space(0.08);
    line-height: space(2.4);
  }
}

.hint {
  color: rgb(99, 115, 129);
  font-family: Lato-Regular;
  font-size: space(1.6);
  font-weight: normal;
  letter-spacing: space(0.07);
  line-height: space(2.4);
}
