<div>
  <div class="title">{{ 'ApplicationPending.Title' | translate }}</div>
  <div class="sub-title top-space2">
    {{ 'ApplicationPending.Subtitle' | translate }}
  </div>

  <div class="sub-title top-space3">
    <span>{{ 'ApplicationPending.Labels.LeaseId' | translate }}:&nbsp;</span>
    <span>{{ applicationResult.leaseId }}</span>
  </div>

  <div class="flex tear-drop-container top-space3">
    <div class="top-space2 left-space2">
      <em class="material-icons call-icon">call</em>
    </div>
    <div>
      <div class="top-space2 left-space2 highlight-label">
        {{ 'ApplicationPending.Labels.CallUs' | translate }}
      </div>
      <div class="top-space1 left-space2">
        <a href="tel:+1-{{ supportPhoneNumber }}">{{ supportPhoneNumber }}</a>
      </div>
    </div>
  </div>

  <div class="hint top-space1">
    {{ 'ApplicationPending.Labels.Hours' | translate }}
  </div>
</div>
