@import '~libs/shared/ui/src/lib/styleGuides/index';


$idle-border: 1px solid $color-idle;


:host {
  .disclosure {
  }
  background: white;
}

.overlap-order {
  opacity: .99;
}
.autocomplete-list-old,
.state-autocomplete-list {
  display: none; //height: 208px;
  //max-height: 208px;
  opacity: 0;
  position: absolute;
  top: 64px;
  left: 128px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.autocomplete-list-item-old,
.state-autocomplete-list-item {
  height: 56px;
  line-height: 56px;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  transition: background-color 150ms;
  border-bottom: 1px solid $color-idle;

  .bold-letter {
    font-weight: 600;
  }

  .line1 {
    font-weight: 400;
    color: $color-neutral-black-light;
  }

  .line2 {
    font-weight: 300;
    color: $color-neutral-white-dark;
  }

  &:hover {
    background-color: $color-neutral-white-light; //color: $color-neutral-black;
  }
}
