<div>
  <div class="title">
    {{ 'ContactInfo.Title' | translate }}
  </div>
  <div class="sub-title">
    {{ 'ContactInfo.BodyTitle' | translate }}
  </div>
  <div [formGroup]="contactInfoFormGroup">
    <div class="">
      <div
        class="flex-directioner"
        style="display: flex;"
        [style.flex-direction]="
          application.defaultContactMechanism === contactMethods.SMS
            ? 'column-reverse'
            : 'column'
        "
      >
        <div class="field-spacer">
          <pg-field size="sm">
            <label pgLabel>
              Mobile phone
            </label>
            <input
              gritInput
              id="mobile-phone"
              #mobilePhone="gritInput"
              formControlName="mobilePhone"
              [textMask]="{
                mask: phoneTextMask,
                placeholderChar: '\u2000',
                guide: false
              }"
              placeholder="888-888-8888"
              [disabled]="
                application.defaultContactMechanism === contactMethods.SMS
              "
            />
            <pg-prefix-icons [iconDisplayOption]="1">
              <pg-icon pgPrefixIcon>phone_iphone</pg-icon>
            </pg-prefix-icons>
            <pg-suffix-icons>
              <pg-icon
                id="mobile-phone-icon-checkmark"
                pgSuffixIcon
                class="fg-green500"
                [visible]="
                  !mobilePhone.isFocused &&
                  mobilePhone.value &&
                  !mobilePhone.isError
                "
                >done</pg-icon
              >
              <pg-icon
                id="mobile-phone-icon-error"
                pgSuffixIcon
                class="fg-red500"
                [visible]="mobilePhone.isError"
              >
                warning</pg-icon
              >
            </pg-suffix-icons>
            <pg-subscript-messages>
              <span id="mobile-phone-hint" pgHint>{{
                'Info.MobilePhone' | translate
              }}</span>
              <span
                id="mobile-phone-err-required"
                pgValidationErrorTracker
                pgError
                for="required"
                >Your mobile phone is required to process the application.</span
              >
              <span
                id="mobile-phone-err-length"
                pgValidationErrorTracker
                pgError
                for="length"
                >Your mobile phone must have 10 digits.</span
              >
              <span
                id="mobile-phone-err-area-code"
                pgValidationErrorTracker
                pgError
                for="areaCode"
                >Area code cannot begin with a 0 or a 1.</span
              >
            </pg-subscript-messages>
          </pg-field>
        </div>

        <div class="field-spacer">
          <pg-field>
            <label pgLabel>
              Email address
            </label>
            <input
              id="email"
              gritInput
              #emailAddress="gritInput"
              formControlName="emailAddress"
              [disabled]="
                application.defaultContactMechanism === contactMethods.Email
              "
            />
            <pg-prefix-icons [iconDisplayOption]="1">
              <pg-icon pgPrefixIcon>email</pg-icon>
            </pg-prefix-icons>
            <pg-suffix-icons>
              <pg-icon
                id="email-icon-checkmark"
                pgSuffixIcon
                class="fg-green500"
                [visible]="
                  !emailAddress.isFocused &&
                  emailAddress.value &&
                  !emailAddress.isError
                "
                >done</pg-icon
              >
              <pg-icon
                id="email-icon-error"
                pgSuffixIcon
                class="fg-red500"
                [visible]="emailAddress.isError"
                >warning
              </pg-icon>
            </pg-suffix-icons>
            <pg-subscript-messages>
              <span id="email-hint" pgHint>{{ 'Info.Email' | translate }}</span>
              <span
                id="email-err-required"
                pgValidationErrorTracker
                pgError
                for="required"
                >{{ 'Error.EmailRequired' | translate }}</span
              >
              <span
                id="email-err-at-symbol"
                pgValidationErrorTracker
                pgError
                for="atSymbol"
                >{{ 'Error.AtSymbolMissing' | translate }}</span
              >
              <span
                id="email-err-period"
                pgValidationErrorTracker
                pgError
                for="period"
                >{{ 'Error.PeriodMissing' | translate }}</span
              >
              <span
                id="email-err-domain"
                pgValidationErrorTracker
                pgError
                for="domain"
                >{{ 'Error.EmailDomainLength' | translate }}</span
              >
              <span
                id="email-err-format"
                pgValidationErrorTracker
                pgError
                for="emailFormat"
                >{{ 'Error.EmailFormatting' | translate }}</span
              >
              <span
                id="email-err-characters"
                pgValidationErrorTracker
                pgError
                for="emailCharacters"
                >{{ 'Error.EmailSpecialCharacters' | translate }}</span
              >
            </pg-subscript-messages>
          </pg-field>
        </div>
      </div>
    </div>

    <div class="field-spacer overlap-order">
      <pg-expanded-address-wrapper
        [addressAutocompleteList]="this.addressList"
        [stateAutocompletelist]="Constants.StateSearch"
        (addressItemSelected)="handleAddressItemSelected($event)"
        (stateSelected)="handleStateSelected($event)"
        [complete]="addressComplete()"
      >
        <span pgAddressLabel="street1">{{ 'Label.Street1' | translate }}</span>
        <input
          pgAddressInput="street1"
          id="input-home-address-street1"
          maxlength="100"
          placeholder=""
          formControlName="street1"
        />
        <span
          id="input-home-address-street1-err-required"
          pgAddressError="street1"
          errorKey="required"
        >
          {{ 'Error.Street1Required' | translate }}
        </span>
        <span
          id="input-home-address-street1-err-pattern"
          pgAddressError="street1"
          errorKey="pattern"
        >
          {{ 'Error.Street1Formatting' | translate }}
        </span>
        <span
          id="input-home-address-street1-err-po-box"
          pgAddressError="street1"
          errorKey="poBox"
        >
          {{ 'Error.Street1PoBox' | translate }}
        </span>
        <span
          id="input-home-address-street1-err-space"
          pgAddressError="street1"
          errorKey="spaceFormat"
        >
          {{ 'Error.Street1Space' | translate }} </span
        >-->

        <span pgAddressLabel="street2">{{ 'Label.Street2' | translate }}</span>
        <input
          pgAddressInput="street2"
          id="input-home-address-street2"
          maxlength="40"
          formControlName="street2"
        />
        <span
          id="input-home-address-street2-err-pattern"
          pgAddressError="street2"
          errorKey="pattern"
        >
          {{ 'Error.Street2Formatting' | translate }}
        </span>
        <span
          id="input-home-address-street2-err-space"
          pgAddressError="street2"
          errorKey="spaceFormat"
        >
          {{ 'Error.Street2Space' | translate }}
        </span>

        <span pgAddressLabel="city">{{ 'Label.City' | translate }}</span>
        <input
          pgAddressInput="city"
          id="input-home-address-city"
          maxlength="40"
          singleConsecutiveSpace
          formControlName="city"
        />
        <span
          id="input-home-address-city-err-required"
          pgAddressError="city"
          errorKey="required"
        >
          {{ 'Error.CityRequired' | translate }}
        </span>
        <span
          id="input-home-address-city-err-number"
          pgAddressError="city"
          errorKey="number"
        >
          {{ 'Error.CityNumbers' | translate }}
        </span>
        <span
          id="input-home-address-city-err-characters"
          pgAddressError="city"
          errorKey="specialChar"
        >
          {{ 'Error.CityFormatting' | translate }}
        </span>
        <span
          id="input-home-address-city-err-space"
          pgAddressError="city"
          errorKey="spaceFormat"
        >
          {{ 'Error.CitySpace' | translate }}
        </span>

        <span pgAddressLabel="state">{{ 'Label.State' | translate }}</span>
        <input
          pgAddressInput="state"
          id="input-home-address-state"
          maxlength="15"
          placeholder=""
          [restrictPattern]="this.statePatternRegex"
          [singleSpace]="true"
          formControlName="state"
        />
        <span
          id="input-home-address-state-err-space"
          pgAddressError="state"
          errorKey="spaceFormat"
        >
          {{ 'Error.StateSpaceFormatting' | translate }}
        </span>
        <span
          id="input-home-address-state-err-required"
          pgAddressError="state"
          errorKey="required"
        >
          {{ 'Error.StateRequired' | translate }}
        </span>
        <span
          id="input-home-address-state-err-selection"
          pgAddressError="state"
          errorKey="selection"
        >
          {{ 'Error.StateSelection' | translate }}
        </span>
        <span
          id="input-home-address-state-err-no-business"
          pgAddressError="state"
          errorKey="noBusiness"
        >
          {{
            'ContactInfo.StatesWeDontDoBusinessIn'
              | translate: { stateName: this.errorBusinessState }
          }}
        </span>
        <span
          id="input-home-address-state-err-no-ship"
          pgAddressError="state"
          errorKey="noShip"
        >
          {{
            'ContactInfo.StatesWeDontShipTo'
              | translate: { stateName: this.errorBusinessState }
          }}
        </span>
        <span
          id="input-home-address-state-err-used-items"
          pgAddressError="state"
          errorKey="noUsedItems"
        >
          {{
            'ContactInfo.StatesWeDontDoBusinessIn'
              | translate: { stateName: this.errorBusinessState }
          }}
        </span>

        <span pgAddressLabel="zip">{{ 'Label.Zip' | translate }}</span>
        <input
          pgAddressInput="zip"
          id="input-home-address-zip"
          zipFormat
          formControlName="zip"
        />
        <span
          id="input-home-address-zip-err-required"
          pgAddressError="zip"
          errorKey="required"
        >
          {{ 'Error.ZipRequired' | translate }}
        </span>
        <span
          id="input-home-address-zip-err-pattern"
          pgAddressError="zip"
          errorKey="pattern"
        >
          {{ 'Error.ZipFormatting' | translate }}
        </span>
        <span
          id="input-home-address-zip-err-length"
          pgAddressError="zip"
          errorKey="sixToEightDigits"
        >
          {{ 'Error.ZipBetween6And8Digits' | translate }}
        </span>
        <span
          id="input-home-address-zip-err-mismatch"
          pgAddressError="zip"
          errorKey="zipStateMismatch"
        >
          {{
            'Error.ZipStateMismatch'
              | translate
                : {
                    state: contactInfoFormGroup.value.state,
                    zip: contactInfoFormGroup.value.zip
                  }
          }}
        </span>
      </pg-expanded-address-wrapper>
    </div>

    <div class="field-spacer">
      <button
        id="continue-button"
        gritButton
        color="primary"
        class="btnContinue"
        [disabled]="contactInfoFormGroup.invalid"
        (click)="onContinue()"
        [loading]="saveResumableStatus.status === statuses.Sending"
      >
        {{ 'Common.Buttons.Continue' | translate }}
      </button>
    </div>
  </div>
</div>
