<div class="showbox">
  <div class="loader" [ngStyle]="{ width: size + 'px' }">
    <svg class="circular" viewBox="25 25 50 50">
      <circle
        [class.path]="this.type === 'BLUE'"
        [class.path-white]="this.type === 'WHITE'"
        cx="50"
        cy="50"
        r="20"
        fill="none"
        stroke-width="4"
        stroke-miterlimit="10"
      />
    </svg>
  </div>
</div>
