@import '../../styleGuides/index';

:host {
  position: relative;
  display: block;
  padding: 16px 24px;
  border-bottom: 1px solid $color-idle;
  width: 100%;
  cursor: pointer;

  *{
    color: $color-neutral-black;
  }
}

:host:last-child {
  border: none;
}

:host:hover {
  background: $color-neutral-white-lighter;
}

:host.disabled {
  background: $color-neutral-white-lightest;
  * {
    color: $color-neutral-white-dark;
  }
  cursor: default;
}
:host.disabled:hover{
  background: $color-neutral-white-lightest;
}



