@import '../../styleGuides/index';

$idle-border: 1px solid $color-idle;
$hover-border: 1px solid $color-hover;
$active-border: 1px solid $color-active;
$error-border: 1px solid $color-error;
$complete-border: 1px solid $color-idle;
$textbox-height: 48px;

.pg-expanded-address-wrapper {
  & * {
    box-sizing: border-box;
    transition: border-color 150ms, color 150ms;
  }

  border: none;
  border-radius: $border-radius;

  input {
    border: none;
    width: 100%;
    height: $textbox-height - 2;
    outline: none;
    position: absolute;
    padding: 24px 0 0 24px;
    color: $color-body-text;
    //font-size: 21px;
    // line-height: 31px;
    background: $color-neutral-white-lighter;
  }

  .pg-address-error-icon {
    position: absolute;
    top: 20px;
    right: 24px;
    color: $color-error;
    opacity: 0;
  }

  .pg-address-success-icon {
    position: absolute;
    top: 20px;
    right: 24px;
    color: $color-success;
    opacity: 0;
  }

  .pg-address-label {
    position: absolute;
    z-index: 1;
    top: 16px;
    left: 16px;
    @include font-field-label-l;
    color: $color-neutral-black-light;
    pointer-events: none;
    line-height: 1em;
    font-weight: 500;

  }

  .field-wrapper {
    position: relative;
    min-height: $textbox-height; //overflow-y: auto;
  }

  .city-state-zip-flex-container {
    display: flex;

    & * {
      flex: 1;
    }
  }

  .street1-wrapper {
    border: $idle-border;
    border-radius: $border-radius;

    .street1-input {
      border-radius: $border-radius;
    }
  }

  .street2-wrapper {
    border: $idle-border;
    border-radius: $border-radius;

    .street2-input {
      border-radius: $border-radius;
    }
  }

  .city-wrapper {
    border: $idle-border;
    border-radius: $border-radius;

    .city-input {
      border-radius: $border-radius;
    }
  }

  .state-wrapper {
    border: $idle-border;
    border-radius: $border-radius;

    .state-input {
      border-radius: $border-radius;
    }
  }

  .zip-wrapper {
    border: $idle-border;
    border-radius: $border-radius;

    .zip-input {
      border-radius: $border-radius;
    }
  }

  .autocomplete-list-old,
  .state-autocomplete-list {
    display: none; //height: 208px;
    //max-height: 208px;
    opacity: 0;
    position: absolute;
    top: 64px;
    left: 128px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }

  .autocomplete-list-item-old,
  .state-autocomplete-list-item {
    height: 56px;
    line-height: 56px;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    transition: background-color 150ms;
    border-bottom: 1px solid $color-idle;

    .bold-letter {
      font-weight: 600;
    }

    .line1 {
      font-weight: 400;
      color: $color-neutral-black-light;
    }

    .line2 {
      font-weight: 300;
      color: $color-neutral-white-dark;
    }

    &:hover {
      background-color: $color-neutral-white-light; //color: $color-neutral-black;
    }
  }
}

.addr-message-container {
  min-height: 24px;
  margin-top: 8px;
}

.pg-address-error {
  color: $color-error;
}

$complete-border: 1px solid $color-neutral-white-lighter;

.pg-expanded-address-wrapper.complete {
  .street1-wrapper {
    border: $complete-border;
    border-radius: $border-radius;
    min-height: $textbox-height;
    max-height: $textbox-height;

    .street1-input {
      border-radius: $border-radius;
    }
  }

  .street2-wrapper {
    border: $complete-border;
    border-radius: $border-radius;

    .street2-input {
      border-radius: $border-radius;
    }
  }

  .city-wrapper {
    border: $complete-border;
    border-radius: $border-radius;

    .city-input {
      border-radius: $border-radius;
    }
  }

  .state-wrapper {
    border: $complete-border;
    border-radius: $border-radius;

    .state-input {
      border-radius: $border-radius;
    }
  }

  .zip-wrapper {
    border: $complete-border;
    border-radius: $border-radius;

    .zip-input {
      border-radius: $border-radius;
    }
  }
}

.pg-expanded-address-wrapper.hover {
  .street1-wrapper {
    border: $hover-border;
    border-radius: $border-radius;
    min-height: $textbox-height;
    max-height: $textbox-height;

    .street1-input {
      border-radius: $border-radius;
    }
  }

  .street2-wrapper {
    border: $hover-border;
    border-radius: $border-radius;

    .street2-input {
      border-radius: $border-radius;
    }
  }

  .city-wrapper {
    border: $hover-border;
    border-radius: $border-radius;


    .city-input {
      border-radius: $border-radius;
    }
  }

  .state-wrapper {
    border: $hover-border;
    border-radius: $border-radius;

    .state-input {
      border-radius: $border-radius;
    }
  }

  .zip-wrapper {
    border: $hover-border;
    border-radius: $border-radius;

    .zip-input {
      border-radius: $border-radius;
    }
  }
}

.pg-expanded-address-wrapper.focus {
  .street1-wrapper {
    border: $active-border;
    border-radius: $border-radius;

    .street1-input {
      border-radius: $border-radius;
    }
  }

  .street2-wrapper {
    border: $active-border;
    border-radius: $border-radius;

    .street2-input {
      border-radius: $border-radius;
    }
  }

  .city-wrapper {
    border: $active-border;
    border-radius: $border-radius;

    .city-input {
      border-radius: $border-radius;
    }
  }

  .state-wrapper {
    border: $active-border;
    border-radius: $border-radius;

    .state-input {
      border-radius: $border-radius;
    }
  }

  .zip-wrapper {
    border: $active-border;
    border-radius: $border-radius;

    .zip-input {
      border-radius: $border-radius;
    }
  }
}

.pg-expanded-address-wrapper.error {
  .street1-wrapper {
    border: $error-border;
    border-radius: $border-radius;

    .street1-input {
      border-radius: $border-radius;
    }
  }

  .street2-wrapper {
    border: $error-border;
    border-radius: $border-radius;

    .street2-input {
      border-radius: $border-radius;
    }
  }

  .city-wrapper {
    border: $error-border;
    border-radius: $border-radius;

    .city-input {
      border-radius: $border-radius;
    }
  }

  .state-wrapper {
    border: $error-border;
    border-radius: $border-radius;

    .state-input {
      border-radius: $border-radius;
    }
  }

  .zip-wrapper {
    border: $error-border;
    border-radius: $border-radius;

    .zip-input {
      border-radius: $border-radius;
    }
  }
}

// MOBILE-STYLES
@media all and (max-width: $width-threshold-tablet-portrait - 1) {
  .pg-expanded-address-wrapper {
    .city-state-zip-flex-container {
      display: flex;
      flex-direction: column;

      & * {
        flex: 1;
      }
    }

    .street1-wrapper {
      border: $idle-border;
      border-radius: $border-radius;

      .street1-input {
        border-radius: $border-radius;
      }
    }

    .street2-wrapper {
      border: $idle-border;
      border-radius: $border-radius;

      .street2-input {
        border-radius: $border-radius;
      }
    }

    .city-wrapper {
      border: $idle-border;
      border-radius: $border-radius;

      .city-input {
        border-radius: $border-radius;
      }
    }

    .state-wrapper {
      border: $idle-border;
      border-radius: $border-radius;

      .state-input {
        border-radius: $border-radius;
      }
    }

    .zip-wrapper {
      border: $idle-border;
      border-radius: $border-radius;

      .zip-input {
        border-radius: $border-radius;
      }
    }
  }

  .pg-expanded-address-wrapper.hover {
    .street1-wrapper {
      border: $hover-border;
      border-radius: $border-radius;
      min-height: $textbox-height;
      max-height: $textbox-height;

      .street1-input {
        border-radius: $border-radius;
      }
    }

    .street2-wrapper {
      border: $hover-border;
      border-radius: $border-radius;

      .street2-input {
        border-radius: $border-radius;
      }
    }

    .city-wrapper {
      border: $hover-border;
      border-radius: $border-radius;


      .city-input {
        border-radius: $border-radius;
      }
    }

    .state-wrapper {
      border: $hover-border;
      border-radius: $border-radius;

      .state-input {
        border-radius: $border-radius;
      }
    }

    .zip-wrapper {
      border: $hover-border;
      border-radius: $border-radius;

      .zip-input {
        border-radius: $border-radius;
      }
    }
  }

  .pg-expanded-address-wrapper.focus {
    .street1-wrapper {
      border: $active-border;
      border-radius: $border-radius;
      min-height: $textbox-height;
      max-height: $textbox-height;

      .street1-input {
        border-radius: $border-radius;
      }
    }

    .street2-wrapper {
      border: $active-border;
      border-radius: $border-radius;

      .street2-input {
        border-radius: $border-radius;
      }
    }

    .city-wrapper {
      border: $active-border;
      border-radius: $border-radius;

      .city-input {
        border-radius: $border-radius;
      }
    }

    .state-wrapper {
      border: $active-border;
      border-radius: $border-radius;

      .state-input {
        border-radius: $border-radius;
      }
    }

    .zip-wrapper {
      border: $active-border;
      border-radius: $border-radius;

      .zip-input {
        border-radius: $border-radius;
      }
    }
  }

  .pg-expanded-address-wrapper.complete {
    .street1-wrapper {
      border: $complete-border;
      border-radius: $border-radius;
      min-height: $textbox-height;
      max-height: $textbox-height;

      .street1-input {
        border-radius: $border-radius;
      }
    }

    .street2-wrapper {
      border: $complete-border;
      border-radius: $border-radius;

      .street2-input {
        border-radius: $border-radius;
      }
    }

    .city-wrapper {
      border: $complete-border;
      border-radius: $border-radius;


      .city-input {
        border-radius: $border-radius;
      }
    }

    .state-wrapper {
      border: $complete-border;
      border-radius: $border-radius;

      .state-input {
        border-radius: $border-radius;
      }
    }

    .zip-wrapper {
      border: $complete-border;
      border-radius: $border-radius;

      .zip-input {
        border-radius: $border-radius;
      }
    }
  }

  .pg-expanded-address-wrapper.error {
    .street1-wrapper {
      border: $error-border;
      border-radius: $border-radius;
      min-height: $textbox-height;
      max-height: $textbox-height;

      .street1-input {
        border-radius: $border-radius;
      }
    }

    .street2-wrapper {
      border: $error-border;
      border-radius: $border-radius;

      .street2-input {
        border-radius: $border-radius;
      }
    }

    .city-wrapper {
      border: $error-border;
      border-radius: $border-radius;

      .city-input {
        border-radius: $border-radius;
      }
    }

    .state-wrapper {
      border: $error-border;
      border-radius: $border-radius;

      .state-input {
        border-radius: $border-radius;
      }
    }

    .zip-wrapper {
      border: $error-border;
      border-radius: $border-radius;

      .zip-input {
        border-radius: $border-radius;
      }
    }
  }
}
