<div class="comprehension-slideshow">
  <div
    *ngFor="let item of [].constructor(totalOfSlides); let i = index"
    [ngClass]="{
      'comprehension-slide': true,
      'comprehension-slide--active': slideIndex === i
    }"
    id="slide_{{ i + 1 }}"
  >
    <span class="comprehension-slide__icon">
      <grit-icon>{{ currentSlide.icon }}</grit-icon>
    </span>
    <h1
      class="comprehension-slide__heading"
      [innerHtml]="currentSlide.heading"
    ></h1>
    <div
      class="comprehension-slide__body-copy"
      [innerHtml]="currentSlide.bodyCopy"
    ></div>
  </div>
  <div class="comprehension-slideshow-controls">
    <span
      [ngClass]="{
        'comprehension-slideshow-controls__previous-label': true,
        'comprehension-slideshow-controls__previous-label--hidden': !canGoPrevious
      }"
      (click)="onPrevious()"
      >{{ slideControl.previousLabel }}</span
    >
    <span class="comprehension-slideshow-controls__slide-indicators">
      <span
        *ngFor="let item of [].constructor(totalOfSlides); let i = index"
        [ngClass]="{
          'comprehension-slideshow-controls__slide-indicator': true,
          'comprehension-slideshow-controls__slide-indicator--active':
            slideIndex === i
        }"
        id="slide_indicator_{{ i }}"
      ></span>
    </span>
    <span
      class="comprehension-slideshow-controls__next-label"
      (click)="onNext()"
      >{{ slideControl.nextLabel }}</span
    >
  </div>
</div>
