<div [formGroup]="otpForm">
  <div class="title">
    {{ 'GetStarted.VerifyCode.EnterTheCode' | translate }}
  </div>
  <div class="sub-title">
    {{ 'GetStarted.VerifyCode.SentText' | translate }}
  </div>

  <div class="top-space3">
    <grit-field size="sm">
      <span gritLabel>{{
        formatingPhoneOrEmailValueAndLabel(authId.isFocused)
      }}</span>
      <input
        gritInput
        id="pg-field-contact"
        formControlName="authId"
        #authId="gritInput"
      />
      <grit-prefix-icons>
        <grit-icon gritPrefixIcon>phone_iphone</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon
          gritSuffixIcon
          [visible]="authId.value"
          (click)="onClickToEdit()"
          class="editable"
          >edit
        </grit-icon>
        <grit-icon
          gritSuffixIcon
          [visible]="
            authId.value &&
            !authId.isError &&
            !authId.isFocused &&
            !authId.isDisabled
          "
          class="success"
        >
          done
        </grit-icon>
        <grit-icon gritSuffixIcon [visible]="authId.isError" class="error"
          >warning
        </grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritHint>{{ 'GetStarted.Contact.Hint' | translate }}</span>
        <span gritError for="error">{{
          otpForm.get('authId').getError('error')
        }}</span>
      </grit-subscript-messages>
    </grit-field>
  </div>

  <div
    class="sub-title"
    [class.media-query-top-space3]="
      authId.isError || authId.isFocused || otpForm.get('authId').dirty
    "
  >
    <span> {{ 'GetStarted.VerifyCode.DidNotGetCode' | translate }} </span
    >&nbsp;&nbsp;
    <span>
      <a (click)="onResendCode()">{{
        'GetStarted.VerifyCode.Resend' | translate
      }}</a
      >&nbsp;&nbsp;
      <ng-container>
        <grit-icon
          class="success absolutePos"
          *ngIf="resendAuthCodeStatus.status === authStatuses.Success"
          >done
        </grit-icon>
      </ng-container>
    </span>
  </div>

  <div class="top-space3">
    <grit-field size="sm">
      <span gritLabel>{{
        'GetStarted.VerifyCode.EnterTheCode' | translate
      }}</span>
      <input
        gritInput
        id="pg-field-code"
        formControlName="authCode"
        #authCode="gritInput"
        maxlength="6"
        #authCode
      />
      <grit-suffix-icons>
        <grit-icon
          gritSuffixIcon
          class="error"
          [visible]="
            authCode.isError ||
            verifyAuthCodeStatus.status === authStatuses.Error
          "
        >
          warning</grit-icon
        >
        <grit-spinner
          gritSuffixIcon
          [visible]="verifyAuthCodeStatus.status === authStatuses.Sending"
        ></grit-spinner>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritError for="error">{{
          otpForm.get('authCode').getError('error')
        }}</span>
      </grit-subscript-messages>
    </grit-field>
  </div>

  <ng-container
    *ngIf="
      authCode.value &&
      verifyAuthCodeStatus.status === authStatuses.Success &&
      verifyAuthCodeStatus.isResumable
    "
  >
    <grit-field
      size="sm"
      [class.media-query-top-space3]="
        authCode.isError || authCode.isFocused || otpForm.get('authCode').dirty
      "
    >
      <span gritLabel>{{ 'GetStarted.VerifyCode.Last4Ssn' | translate }}</span>
      <input
        gritInput
        id="pg-ssn-field"
        formControlName="ssn"
        #ssn="gritInput"
        maxlength="4"
        placeholder="8888"
        #ssn
      />
      <grit-suffix-icons>
        <grit-icon
          gritSuffixIcon
          class="error"
          [visible]="
            ssn.isError && verifySsnStatus.status === authStatuses.Error
          "
        >
          warning</grit-icon
        >
        <grit-spinner
          gritSuffixIcon
          [visible]="verifySsnStatus.status === authStatuses.Sending"
        ></grit-spinner>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritError for="error">{{ 'Error.VerifySsn' | translate }}</span>
      </grit-subscript-messages>
    </grit-field>
  </ng-container>
</div>
