<ng-container [formGroup]="otpForm">
  <div class="title">{{ 'GetStarted.Title' | translate }}</div>
  <div class="sub-title">{{ 'GetStarted.BodyTitle' | translate }}</div>
  <div class="top-space3">
    <grit-field size="sm">
      <span gritLabel>{{
        formatingPhoneOrEmailValueAndLabel(authId.isFocused)
      }}</span>
      <input
        gritInput
        data-test-id="pg-field-contact"
        id="pg-field-contact"
        formControlName="authId"
        #authId="gritInput"
      />
      <grit-prefix-icons>
        <grit-icon gritPrefixIcon>phone_iphone</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon
          gritSuffixIcon
          [visible]="!authId.isError && authId.value && !authId.isFocused"
          class="success"
        >
          done
        </grit-icon>
        <grit-icon gritSuffixIcon [visible]="authId.isError" class="error"
          >warning</grit-icon
        >
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritHint #hint>{{ 'GetStarted.Contact.Hint' | translate }}</span>
        <span gritError for="error">{{
          otpForm.get('authId').getError('error')
        }}</span>
      </grit-subscript-messages>
    </grit-field>
  </div>
  <grit-checkbox
    formControlName="consent"
    #consent="gritCheckbox"
    [class.media-query-top-space3]="
      authId.isError || authId.isFocused || otpForm.get('authId').dirty
    "
  >
    <p [innerHTML]="'GetStarted.Agreement' | translate"></p>
  </grit-checkbox>
  <div class="top-space3">
    <button
      gritButton
      id="continue-button"
      color="primary"
      class="btnContinue"
      (click)="onContinue()"
      [disabled]="!consent.checked || authId.isError || !authId.value"
      [loading]="sendAuthCodeStatus.status === authStatuses.Sending"
    >
      <span>{{ 'Common.Buttons.Continue' | translate }}</span>
    </button>
  </div>
</ng-container>
