@import '../../styleGuides/index';


.pg-header {
    display: flex;
    position: fixed;
    -webkit-backface-visibility: hidden;
    height: $header-height-mobile;
    width: 100%;
    border-bottom: 1px solid $color-neutral-white-dark;
    z-index: 3;
    background: $color-neutral-white-lightest;
    .pg-header-left {
        height: 100%;
        width: 48px;
        padding: 8px 4px 4px 8px;
        border-right: 1px solid $color-neutral-white-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            background-image: url('/assets/images/primaryLogo.svg');
            width: 24px;
            height: 32px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .pg-header-center {
        flex: 1 1 auto;
    }
    .pg-header-right {
        width: auto;
        border-left: 1px solid $color-neutral-white-dark;
        padding-top: 0px;
        #mobile-button {
            display: block;
        }
        #desktop-button {
            display: none;
        }
    }
}

@media all and (min-width: $width-threshold-tablet-portrait) {
    .pg-header {
        height: $header-height;
        .pg-header-left {
            width: 76px;
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                width: 32px;
                height: 48px;
            }
        }
        .pg-header-right {
            padding-top: 20px;
            #mobile-button {
                display: none;
            }
            #desktop-button {
                display: block;
            }
        }
    }
}
