<div class="pg-header" #headerWrapper>
  <div class="pg-header-left">
    <div></div>
  </div>
  <div class="pg-header-center">
    <ng-content></ng-content>
  </div>
  <div class="pg-header-right">
    <pg-button
      id="desktop-button"
      (onClick)="onExitButtonClicked()"
      type="neutral-flat"
      rightIcon="exit_to_app"
      >Exit</pg-button
    >
    <pg-button
      id="mobile-button"
      (onClick)="onExitButtonClicked()"
      type="neutral-flat"
      rightIcon="exit_to_app"
    ></pg-button>
  </div>
</div>
