@import '~@progleasing/grit-core/styles/variables.scss';
@import 'utilities';

:host {
  display: block;
  background: $neutral100;
}

:host ::ng-deep button {
  width: 100%;
}

:host ::ng-deep nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: space(1);
  padding-right: space(1);
  vertical-align: middle;
  background: transparent;
  border-radius: 0px;
  box-shadow: 0px 0px 1px 0px rgba($neutral1000, 0.16),
  0px 1px 1px 0px rgba($neutral1000, 0.16);
  height: space(8);
}

:host ::ng-deep .title {
  color: #454f5b;
  font-family: Montserrat-Bold;
  font-size: space(2.66);
  font-weight: bold;
  letter-spacing: space(0.1);
  line-height: space(3.2);
}

:host ::ng-deep .sub-title {
  color: #454f5b;
  font-size: space(2);
  font-family: Lato-Regular;
  font-weight: normal;
  letter-spacing: space(0.08);
  line-height: space(3);

  & a {
    color: #006aff;
    font-size: space(2);
    font-family: Lato-Regular;
    font-weight: normal;
    letter-spacing: space(0.08);
    line-height: space(3);
    cursor: pointer;
  }
}

:host ::ng-deep .error {
  color: #de3832;
}

:host ::ng-deep .success {
  color: #32be92;
}

:host ::ng-deep .editable {
  cursor: pointer;
}

:host ::ng-deep .absolutePos {
  position: relative;
  bottom: space(-1);
}

:host ::ng-deep .btnContinue {
  display: flex;
  align-items: center;
}

:host ::ng-deep .navIcon24 {
  height: space(3);
  width: space(3);
}

:host ::ng-deep .navIcon32 {
  height: space(4);
  width: space(4);
}

:host ::ng-deep .navIcon48 {
  height: space(6);
  width: space(6);
}

:host ::ng-deep main {
  margin-left: auto;
  margin-right: auto;

  @include sm {
    body & {
      padding-right: space(2);
      padding-left: space(2);
    }
  }

  @include md {
    body & {
      padding-right: 0rem;
      padding-left: 0rem;
      width: space(46.5);
    }
  }

  @include lg {
    body & {
      padding-right: 0rem;
      padding-left: 0rem;
      width: space(46.5);
    }
  }

  @include xl {
    body & {
      padding-right: 0rem;
      padding-left: 0rem;
      width: space(46.5);
    }
  }
}

:host ::ng-deep .top-space1 {
  margin-top: space(1);
}

:host ::ng-deep .top-space2 {
  margin-top: space(2);
}

:host ::ng-deep .top-space3 {
  margin-top: space(3);
}

:host ::ng-deep .top-space4 {
  margin-top: space(4);
}

:host ::ng-deep .left-space1 {
  margin-left: space(1);
}

:host ::ng-deep .left-space2 {
  margin-left: space(2);
}

:host ::ng-deep .left-space3 {
  margin-left: space(3);
}

:host ::ng-deep .left-space4 {
  margin-left: space(4);
}

:host ::ng-deep .media-query-top-space3 {
  @include sm {}

  @include md {
    margin-top: space(3);
  }

  @include lg {
    margin-top: space(3);
  }

  @include xl {
    margin-top: space(3);
  }
}

:host ::ng-deep .flex {
  display: flex;
}
