@import '~@progleasing/grit-core/styles/colors.scss';
@import '~@progleasing/grit-core/styles/typography.scss';
@import './utilities.scss';

$max-width: pixelToRem(375);
$min-height-header: pixelToRem(64);
$min-height: pixelToRem(665);

* {
  box-sizing: border-box;
}

body {
  background: $neutral100;
  margin: 0;
}

.application-body {
  box-sizing: content-box;
  margin: $min-height-header auto 0 auto;
  min-height: calc(#{$min-height} - #{$min-height-header});
  width: $max-width;
}


.uae-heading {
  color: $neutral900;
  font-family: $primary-font;
  font-size: 1.3125rem;
  font-weight: $font-weight-semibold;
  line-height: 1.6rem;
  letter-spacing: $common-letter-spacing;
}

.uae-body-copy {
  color: $neutral900;
  font-family: $secondary-font;
  font-size: 1rem;
  font-weight: $font-weight-regular;
  line-height: 1.5em;
  letter-spacing: $common-letter-spacing;
}

.pg-button {
  width: 100%;
}

