//Basics
$base-font-size: 16px;
$border-radius: 4px;
$border-radius-large: 8px;
$width-threshold-mobile-portrait: 320px;
$width-threshold-mobile-landscape: 568px;
$width-threshold-tablet-portrait: 768px;
$width-threshold-tablet-landscape: 1366px;
$width-threshold-laptop: 1440px;
$width-threshold-hd: 1920px;
$width-threshold-uhd: 3840px;
$width-threshold-4k: 4096px;


$width-threshold-font: 1024px;
$width-threshold-iframe: 1024px;

// Phone is default size
@mixin tablet {
    @media (min-width: #{$width-threshold-tablet-portrait}) and (max-width: #{$width-threshold-iframe - 1px}) {
        @content;
    }
}

@mixin iframe {
    @media (min-width: #{$width-threshold-iframe}) and (max-width: #{$width-threshold-laptop - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$width-threshold-laptop}) {
        @content;
    }
}



//colors:
//NEUTRAL BLACK
$color-neutral-black: #454f5b;
$color-neutral-black-dark: #212b36;
$color-neutral-black-light: #637381;
$color-neutral-black-lighter: #919eab;
//NEUTRAL WHITE
$color-neutral-white: #DFE3E8;
$color-neutral-white-dark: #C4CDD5;
$color-neutral-white-light: #F4F6F8;
$color-neutral-white-lighter: #F9FAFC;
$color-neutral-white-lightest: #FFFFFF;
//ALERT
$color-caution: #f0ab55;
$color-caution-dark: #EF9E38;
$color-caution-light: #F6D9B8;
$color-caution-lighter: #F7ECDE;
//ERROR
$color-error: #f05f55;
$color-error-dark: #ef4438;
$color-error-light: #F6BAB8;
$color-error-lighter: #F7DEDE;
//SUCCESS
$color-success: #32BE92;
$color-success-dark: #0FB480;
$color-success-light: #A7E1D1;
$color-success-lighter: #D5EFE9;
//PRIMARY
$color-primary: #3185FC;
$color-primary-dark-accent: #3080F1;
$color-primary-dark: #2F77DD;
$color-primary-darker: #2E6FCA;
$color-primary-light-accent: #3B8AFB;
$color-primary-light: #4F96FB;
$color-primary-lighter: #63A2FC;
$color-primary-lighter-accent: #9EC5FB;
$color-primary-lightest: #DBE8FC;
$color-primary-lighter-accent: #9EC5FB;

$false-gradient-primary:linear-gradient(180deg, $color-primary 0%, $color-primary 100%);
$false-gradient-primary-dark:linear-gradient(180deg, $color-primary-dark 0%, $color-primary-dark 100%);
$false-gradient-primary-darker:linear-gradient(180deg, $color-primary-darker 0%, $color-primary-darker 100%);

$false-gradient-neutral-white-lightest:linear-gradient(180deg, $color-neutral-white-lightest 0%, $color-neutral-white-lightest 100%);
$false-gradient-neutral-white:linear-gradient(180deg, $color-neutral-white 0%, $color-neutral-white 100%);
$false-gradient-neutral-white-dark:linear-gradient(180deg, $color-neutral-white-dark 0%, $color-neutral-white-dark 100%);


//BRAND
$color-brand-red: #BD2F2A;
// gradients:
//NEUTRAL
$gradient-neutral-idle: linear-gradient(180deg, #FFFFFF 0%, #F9FAFC 100%);
$gradient-neutral-focused: linear-gradient(180deg, #F9FAFC 0%, #F4F6FB 100%);
$gradient-neutral-pressed: linear-gradient(180deg, #F4F6F8 0%, #DFE3E8 100%);
$gradient-neutral-disabled: linear-gradient(180deg, #F9FAFC 0%, #F4F6FB 100%);
$gradient-neutral-progress: linear-gradient(180deg, #FBFEFF 0%, #EEF1F2 100%);
//PRIMARY
$gradient-primary-idle: linear-gradient(180deg, #63A2FC 0%, #3185FC 100%);
$gradient-primary-focused: linear-gradient(180deg, #3185FC 0%, #3080F1 100%);
$gradient-primary-pressed: linear-gradient(180deg, #2F77DD 0%, #2E6FCA 100%);
//ERROR
$gradient-error-idle: linear-gradient(180deg, #F17179 0%, #F05F55 100%);
$gradient-error-focused: linear-gradient(180deg, #F05F55 0%, #EF4438 100%);
$gradient-error-active: linear-gradient(180deg, #ef4438 0%, #EF4438 100%);
//OVERLAY
$gradient-overlay-bg: linear-gradient(180deg, #637381 0%, #212B36 100%);
// TYPOGRAPHY LEVEL 1
$primary-font: 'Montserrat',
sans-serif;
$secondary-font: 'Lato',
sans-serif;
$common-line-height: 1.2em;
$common-letter-spacing: .04em;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-medium: 500;



// MOBILE TYPOGRAPHY
@mixin font-display-l-mobile {
    font-family: $primary-font;
    font-size: 3.157em;
    font-weight: $font-weight-semibold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-display-m-mobile {
    font-family: $primary-font;
    font-size: 2.369em;
    font-weight: $font-weight-semibold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-display-s-mobile {
    font-family: $primary-font;
    font-size: 1.777em;
    font-weight: $font-weight-semibold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-headline-mobile {
    font-family: $primary-font;
    font-size: 2.369em;
    font-weight: $font-weight-semibold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-title-l-mobile {
    font-family: $primary-font;
    font-size: 1.333em;
    font-weight: $font-weight-semibold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-title-m-mobile {
    font-family: $primary-font;
    font-size: 1em;
    font-weight: $font-weight-semibold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-title-s-mobile {
    font-family: $primary-font;
    font-size: 1.333em;
    font-weight: $font-weight-semibold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-subheading-mobile {
    font-family: $primary-font;
    font-size: 1em;
    font-weight: $font-weight-light;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-body-l-mobile {
    font-family: $secondary-font;
    font-size: 1em;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-body-s-mobile {
    font-family: $secondary-font;
    font-size: 1em;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-button-mobile {
    font-family: $secondary-font;
    font-size: 1em;
    font-weight: $font-weight-regular;
    line-height: 1em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-caption-mobile {
    font-family: $secondary-font;
    font-size: .85em;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-field-label-l-mobile {
    font-family: $primary-font;
    font-size: 1em;
    font-weight: $font-weight-medium;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-field-label-s-mobile {
    font-family: $primary-font;
    font-size: .85em;
    font-weight: $font-weight-medium;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

// TYPOGRAPHY DESKTOP
@mixin font-display-l {
    font-family: $primary-font;
    font-size: 5.61em;
    font-weight: $font-weight-bold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-display-m {
    font-family: $primary-font;
    font-size: 4.209em;
    font-weight: $font-weight-bold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-display-s {
    font-family: $primary-font;
    font-size: 3.157em;
    font-weight: $font-weight-bold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-headline {
    font-family: $primary-font;
    font-size: 2.369em;
    font-weight: $font-weight-bold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-title-l {
    font-family: $primary-font;
    font-size: 1.777em;
    font-weight: $font-weight-bold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-title-m {
    font-family: $primary-font;
    font-size: 1em;
    font-weight: $font-weight-bold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-title-s {
    font-family: $primary-font;
    font-size: .85em;
    font-weight: $font-weight-bold;
    line-height: $common-line-height;
    letter-spacing: $common-letter-spacing;
}

@mixin font-subheading {
    font-family: $primary-font;
    font-size: 1.333em;
    font-weight: $font-weight-bold;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-body-l {
    font-family: $secondary-font;
    font-size: 1.333em;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-body-s {
    font-family: $secondary-font;
    font-size: 1em;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-button {
    font-family: $primary-font;
    font-size: 1em;
    font-weight: $font-weight-bold;
    line-height: 1em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-caption {
    font-family: $secondary-font;
    font-size: .85em;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-field-label-l {
    font-family: $primary-font;
    font-size: 1em;
    font-weight: $font-weight-semibold;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

@mixin font-field-label-s {
    font-family: $primary-font;
    font-size: .85em;
    font-weight: $font-weight-semibold;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}


//Transitions
$transition-speed-fast: 100ms;
$transition-speed: 150ms;
$transition-speed-slow: 250ms;
//Transition Curves
$transition-curve-acceleration: ease-in;
$transition-curve-decceleration: ease-out;
$transition-curve-sharp: ease-in-out;
$transition-curve-linear: linear;
$color-idle: $color-neutral-black-lighter;
$color-hover: $color-neutral-black-light;
$color-active: $color-primary;
$color-body-text: $color-neutral-black-dark;
// Standard small transition time
$transition-time-fast: 100ms;
$textbox-height: 64px;
$icon-top: 20px;
$field-spacing: 54px;
$header-height: 84px;
$header-height-mobile: 47px;
$footer-height: 64px;
// MIXINS
@mixin placeholder {
    &::-webkit-input-placeholder {
        @content
    }
    &:-moz-placeholder {
        @content
    }
    &::-moz-placeholder {
        @content
    }
    &:-ms-input-placeholder {
        @content
    }
};


// SPACING
$spacing-xxs: 8px;
$spacing-xs: 16px;
$spacing-s: 24px;
$spacing-m: 32px;
$spacing-l: 40px;
$spacing-xl: 48px;
$spacing-xxl: 56px;
$spacing-xxxl: 64px;
$spacing-xxxxl: 100px;
