@import 'prog-variables.scss';
* {
    font-size: $base-font-size;
}

.pg-icon {
    color: $color-neutral-black-light;
    transition: all $transition-time-fast;
}

.pg-error-icon {
    color: $color-error;
}

.pg-success-icon {
    color: $color-success;
}

.show-placeholder {
    @include placeholder {
        opacity: 1 !important;
    }
}

* {
    @include placeholder {
        transition: all 150ms;
        color: $color-neutral-black-lighter;
    }
}

pg-address-wrapper input {
  @include placeholder {
      transition: all 150ms;
      opacity: 0;
      color: $color-neutral-black-lighter;
  }
}

.pg-label {
    top: 20px;
    font-size: 16px;
    line-height: 24px;
    @include font-field-label-l;
    position: absolute;
    transition: all $transition-time-fast;
    pointer-events: none;
    color: $color-neutral-black-light;
    left: 24px;
}

.pg-input-container {
    background: $color-neutral-white-lighter;
}

.pg-input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid $color-idle;
    border-radius: $border-radius;
    box-sizing: border-box;
    height: $textbox-height;
    width: 100%;
    outline: none;
    line-height: 31px;
    font-size: 21px;
    margin-bottom: 0;
    padding-top: 24px;
    transition: border-color $transition-time-fast;
    color: $color-body-text;
    padding-left: 24px;
    background: transparent;
    @include placeholder {
        opacity: 0;
        transition: all $transition-speed-fast;
    }
}

.pg-input.show-placeholder {
    @include placeholder {
        opacity: 1;
    }
}

.pg-error-message,
.pg-address-error {
    color: $color-error;
    opacity: 0;
    font-size: 0;
    line-height: 0;
}

// MARGIN SPACING CLASSES
.margin-top-xs {
    margin-top: $spacing-xs;
}

.margin-top-s {
    margin-top: $spacing-s;
}

.margin-top-m {
    margin-top: $spacing-m;
}

.margin-top-l {
    margin-top: $spacing-l;
}

.margin-top-xl {
    margin-top: $spacing-xl;
}

.margin-top-xxl {
    margin-top: $spacing-xxl;
}

.margin-top-xxxl {
    margin-top: $spacing-xxxl;
}


// BACKGROUND CLASSES
.bg-neutral-black {
    background: $color-neutral-black;
}

// COLOR CLASSES
.color-neutral-black {
    color: $color-neutral-black;
}

.color-neutral-black-lighter {
    color: $color-neutral-black-lighter;
}

.color-neutral-black-light {
    color: $color-neutral-black-light;
}

.color-neutral-white {
    color: $color-neutral-white;
}

.color-neutral-white-dark {
    color: $color-neutral-white-dark;
}

.color-neutral-white-lightest {
    color: $color-neutral-white-lightest;
}

.color-primary {
    color: $color-primary;
}

.color-success {
    color: $color-success;
}


.pg-icon.pg-action-icon {
    color: $color-neutral-black;
}

$button-height: 48px;
.pg-button {
    @include font-button;
    overflow: hidden;
    transform-origin: center;
    line-height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 1000px;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 12px 32px;
    .button-label {
        @include font-button;
        line-height: 24px;
    }
    .material-icons {
        margin: 0 8px 0 8px;
    }
    .loading {
        top: -8px;
        height: 14px;
        position: relative;
    }
    transition: all 150ms $transition-curve-sharp;
}

@mixin buttonTheme( $idleFg, $idleBg, $idleBorder, $hoverFg, $hoverBg, $hoverBorder, $pressedFg, $pressedBg, $pressedBorder, $disabledFg, $disabledBg, $disabledBorder) {
    & {
        color: $idleFg;
        background: $idleBg;
        border: $idleBorder;
        .ripple-effect {
            pointer-events: none;
            position: absolute;
            width: 0;
            height: 0;
            background: #000000;
            opacity: .24;
            overflow: none;
            border-radius: 50%;
            transform: translate3d(-50%, -50%, 0);
        }
    }
    &:focus,
    &:hover {
        background: $hoverBg;
        color: $hoverFg;
        border: $hoverBorder;
    }
    &:active {
        background: $pressedBg;
        color: $pressedFg;
        border: $pressedBorder;
        transform: scale(0.96);
    }
    &.disabled {
        background: $disabledBg;
        color: $disabledFg;
        cursor: default;
        pointer-events: none;
        border: $disabledBorder;
        transform: scale(.88);
    }
}

.pg-button.primary {
    @include buttonTheme( $color-neutral-white-lighter, $color-primary, none, $color-neutral-white-lighter, $color-primary-dark, none, $color-neutral-white-lighter, $color-primary-darker, none, $color-primary-lighter-accent, $color-neutral-white-lightest, 1px dashed $color-neutral-white-dark);
}

.pg-button.positive {
    @include buttonTheme( // idleFg
    $color-primary, // idleBg
    $gradient-neutral-idle, // idleBorder
    1px solid $color-primary-lightest, // hoverFg
    $color-primary, // hoverBg
    $gradient-neutral-focused, // hoverBorder
    1px solid $color-primary-lighter-accent, // pressedFg
    $color-primary-dark, // pressedBg
    $gradient-neutral-pressed, // pressedBorder
    1px solid $color-primary-lighter, // disabledFg
    $color-primary-lighter-accent, // disabledBg
    linear-gradient(180deg, #FFFFFF 0%, #FFFFFF 100%), // disabledBorder
    1px dashed $color-primary-lightest);
}

.pg-button.neutral {
    @include buttonTheme( // idleFg
    $color-neutral-black-light, // idleBg
    $gradient-neutral-idle, // idleBorder
    1px solid $color-neutral-white, // hoverFg
    $gradient-neutral-focused, // hoverBg
    $gradient-neutral-focused, // hoverBorder
    1px solid $color-neutral-black-lighter, // pressedFg
    $color-neutral-black, // pressedBg
    $gradient-neutral-pressed, // pressedBorder
    1px solid $color-neutral-black, // disabledFg
    $color-neutral-black-lighter, // disabledBg
    $gradient-neutral-disabled, // disabledBorder
    1px dashed $color-neutral-white);
}

.pg-button.primary-transparent {
    @include buttonTheme( // idleFg
    $color-neutral-white-lighter, // idleBg
    transparent, // idleBorder
    none, // hoverFg
    $color-neutral-white-lightest, // hoverBg
    transparent, // hoverBorder
    none, // pressedFg
    $color-neutral-white-lightest, // pressedBg
    transparent, // pressedBorder
    none, // disabledFg
    $color-neutral-white, // disabledBg
    transparent, // disabledBorder
    none);
}

// TODO: IMPLEMENT THE BUTTON THEME HERE FOR THESE BUTTONS!!!
.pg-button.destructive {
    background: $gradient-error-idle;
    border: 1px solid $color-error-dark;
    & * {
        color: $color-neutral-white-lighter;
    }
    &:focus,
    &:hover {
        background: $gradient-error-focused;
        border: 1px solid $color-error-dark;
    }
    &:active {
        background: $gradient-error-active;
        border: 1px solid $color-error-dark;
    }
    &.disabled {
        background: $color-error-lighter;
        border: 1px dashed $color-error-light;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-error;
        }
    }
}

.pg-button.positive-flat {
    border-radius: $border-radius;
    background: $color-neutral-white-lightest;
    border: none;
    & * {
        color: $color-primary;
    }
    &:focus,
    &:hover {
        background: $color-neutral-white-light;
        border: none;
    }
    &:active {
        background: $color-neutral-white;
        border: none;
    }
    &.disabled {
        background: $gradient-neutral-disabled;
        border: 1px dashed $color-neutral-white;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-primary-lighter-accent;
        }
    }
}

.pg-button.neutral-flat {
    border-radius: 0;
    background: $color-neutral-white-lightest;
    border: none;
    & * {
        color: $color-neutral-black-lighter;
    }
    &:focus,
    &:hover {
        background: $color-neutral-white-light;
        border: none;
        & * {
            color: $color-neutral-black-light;
        }
    }
    &:active {
        background: $color-neutral-white;
        border: none;
    }
    &.disabled {
        background: $gradient-neutral-disabled;
        border: 1px dashed $color-neutral-white;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-neutral-white-dark;
        }
    }
}

.pg-button.destructive-flat {
    border-radius: 0;
    background: $color-neutral-white-lightest;
    border: none;
    & * {
        color: $color-error;
    }
    &:focus,
    &:hover {
        background: $color-neutral-white-light;
        border: none;
    }
    &:active {
        background: $color-neutral-white;
        border: none;
    }
    &.disabled {
        background: $gradient-neutral-disabled;
        border: 1px dashed $color-neutral-white;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-error-light;
        }
    }
}

.pg-button.transparent {
    background: transparent;
}

.pg-button.neutral-flat.transparent:hover {
    background: $color-neutral-white-light;
}

.pg-button.neutral-flat.transparent {
    &.disabled {
        background: transparent !important;
        border: none;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-neutral-white-dark;
            user-select: none;
        }
    }
}
