.overlay{
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  visibility: hidden;
  display: block;
  opacity: 0;
}

.overlay-content {
  position: absolute;
  z-index: 11;
  display: block;
  opacity: 0;
  visibility: hidden;
  background: white;
  //transform: scaleX(0) scaleY(0);
}