<div class="overlay" #overlayEl (click)="this.hide()"></div>
<div class="overlay-content" #overlayContentEl>
  <div class="overlay-content-opacity-wrapper" #overlayContentOpacityWrapper>
    <ng-content></ng-content>
  </div>
</div>
