@import '../../styleGuides/index';

$button-height: 48px;
.pg-button {
    width: 100%;
    font-size: 16px;
    display: block;
    position: relative;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 16px 32px;
    width: inherit;
    .loading {
        top: -8px;
        height: 14px;
        position: relative;
    }
    .pg-button-label {
        height: 14px;
        position: relative;
        top: -2px; // font-size: $font-size-button;
        // font-family: $font-family-button;
        // font-weight: $font-weight-button;
        // line-height: $font-height-button;
        // letter-spacing: $font-spacing-button;
        @include font-button;
    }
    .pg-button-icon {
        vertical-align: middle;
        height: 16px;
        width: 24px;
        display: inline-block;
        position: relative;
        & i {
            font-size: 24px;
            position: absolute;
            top: -5px;
            left: 0; // font-weight: $font-weight-button;
            // line-height: $font-height-button;
            // letter-spacing: $font-spacing-button;
        }
    }
    .pg-button-icon-right {
        //margin-left: 8px;
    }
    .pg-button-icon-left {
        //margin-right: 8px;
    }
}

.pg-button.primary {
    background: $color-primary;
    border: none;
    & * {
        color: $color-neutral-white-lighter;
    }
    &:focus,
    &:hover {
        background: $color-primary-dark; //border: 1px solid $color-primary-darker;
    }
    &:active {
        background: $color-primary-darker; //border: 1px solid $color-primary-darker;
        color: $color-neutral-white-lighter;
    }
    &.disabled {
        background: $gradient-neutral-idle;
        border: 1px dashed $color-neutral-white-dark;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-primary-lighter-accent;
        }
    }
}

.pg-button.positive {
    background: $gradient-neutral-idle;
    border: 1px solid $color-primary-lightest;
    & * {
        color: $color-primary;
    }
    &:focus,
    &:hover {
        background: $gradient-neutral-focused;
        border: 1px solid $color-primary-lighter-accent;
    }
    &:active {
        background: $gradient-neutral-pressed;
        border: 1px solid $color-primary-lighter;
        & * {
            color: $color-primary-dark;
        }
    }
    &.disabled {
        background: $gradient-neutral-disabled;
        border: 1px dashed $color-primary-lightest;
        cursor: default; //pointer-events: none;
        & * {
            color: $color-primary-lighter-accent;
        }
    }
}

.pg-button.neutral {
    background: $gradient-neutral-idle;
    border: 1px solid $color-neutral-white;
    & * {
        color: $color-neutral-black-light;
    }
    &:focus,
    &:hover {
        background: $gradient-neutral-focused;
        border: 1px solid $color-neutral-black-lighter;
        & * {
            color: $color-neutral-black;
        }
    }
    &:active {
        background: $gradient-neutral-pressed;
        border: 1px solid $color-neutral-black;
        & * {
            color: $color-neutral-black;
        }
    }
    &.disabled {
        background: $gradient-neutral-disabled;
        border: 1px dashed $color-neutral-white;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-neutral-black-lighter;
        }
    }
}

.pg-button.destructive {
    background: $gradient-error-idle;
    border: 1px solid $color-error-dark;
    & * {
        color: $color-neutral-white-lighter;
    }
    &:focus,
    &:hover {
        background: $gradient-error-focused;
        border: 1px solid $color-error-dark;
    }
    &:active {
        background: $gradient-error-active;
        border: 1px solid $color-error-dark;
    }
    &.disabled {
        background: $color-error-lighter;
        border: 1px dashed $color-error-light;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-error;
        }
    }
}

.pg-button.positive-flat {
    border-radius: $border-radius;
    background: $color-neutral-white-lightest;
    border: none;
    & * {
        color: $color-primary;
    }
    &:focus,
    &:hover {
        background: $color-neutral-white-light;
        border: none;
    }
    &:active {
        background: $color-neutral-white;
        border: none;
    }
    &.disabled {
        background: $gradient-neutral-disabled;
        border: 1px dashed $color-neutral-white;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-primary-lighter-accent;
        }
    }
}

.pg-button.neutral-flat {
    border-radius: 0;
    background: $color-neutral-white-lightest;
    border: none;
    & * {
        color: $color-neutral-black-lighter;
    }
    &:focus,
    &:hover {
        background: $color-neutral-white-light;
        border: none;
        & * {
            color: $color-neutral-black-light;
        }
    }
    &:active {
        background: $color-neutral-white;
        border: none;
    }
    &.disabled {
        background: $gradient-neutral-disabled;
        border: 1px dashed $color-neutral-white;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-neutral-white-dark;
        }
    }
}

.pg-button.destructive-flat {
    border-radius: 0;
    background: $color-neutral-white-lightest;
    border: none;
    & * {
        color: $color-error;
    }
    &:focus,
    &:hover {
        background: $color-neutral-white-light;
        border: none;
    }
    &:active {
        background: $color-neutral-white;
        border: none;
    }
    &.disabled {
        background: $gradient-neutral-disabled;
        border: 1px dashed $color-neutral-white;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-error-light;
        }
    }
}

.pg-button.transparent {
    background: transparent ;
}

.pg-button.neutral-flat.transparent:hover {
    background: $color-neutral-white-light;
}

.pg-button.neutral-flat.transparent {
    &.disabled {
        background: transparent !important;
        border: none;
        cursor: default;
        pointer-events: none;
        & * {
            color: $color-neutral-white-dark;
            user-select: none;
        }
    }
}

@media all and (max-width: $width-threshold-tablet-portrait) {}
