<button
  class="pg-button"
  [class.primary]="type == 'primary'"
  [class.positive]="type == 'positive'"
  [class.destructive]="type == 'destructive'"
  [class.neutral]="type == 'neutral'"
  [class.positive-flat]="type == 'positive-flat'"
  [class.destructive-flat]="type == 'destructive-flat'"
  [class.neutral-flat]="type == 'neutral-flat'"
  [class.disabled]="disabled"
  [class.transparent]="this.transparent"
  (click)="handleClick($event)"
>
  <div *ngIf="!!loading" class="loading">
    <pg-spinner-short [size]="32"></pg-spinner-short>
  </div>
  <div *ngIf="!loading" class="pg-button-label">
    <div *ngIf="leftIcon" class="pg-button-icon pg-button-icon-left">
      <i class="material-icons">{{ leftIcon }}</i>
    </div>
    <ng-content *ngIf="!label"></ng-content>
    <span *ngIf="label">{{ label }}</span>
    <div *ngIf="rightIcon" class="pg-button-icon pg-button-icon-right">
      <i class="material-icons">{{ rightIcon }}</i>
    </div>
  </div>
</button>
