$neutral300: #f4f6f8;
$neutral400: #dfe3e8;

$secondary-font: 'Lato', sans-serif;
$font-weight-regular: 400;
$common-letter-spacing: 0.04em;

$width-breakpoint-desktop: 1280px;
$width-breakpoint-modal: 1024px;
@mixin desktop {
  @media (min-width: #{$width-breakpoint-desktop}) {
    @content;
  }
}
@mixin modal {
  @media (min-width: #{$width-breakpoint-modal}) and (max-width: #{$width-breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin font-body-s {
  font-family: $secondary-font;
  font-size: 0.85rem;
  font-weight: $font-weight-regular;
  line-height: 1.5em;
  letter-spacing: $common-letter-spacing;
  @include modal {
    font-family: $secondary-font;
    font-size: 0.85rem;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
  }
  @include modal {
    font-family: $secondary-font;
    font-size: 0.85rem;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
  }
  @include desktop {
    font-family: $secondary-font;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
  }
}


.gr-drop-down {
  display: flex;
  flex-direction: column;
  // max-height: 134px;
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 0;
  .gr-drop-down-item {
    margin-left: 64px;
    padding: 16px;
    border-bottom: 1px solid $neutral400;
    cursor: pointer;

    @include font-body-s;

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: $neutral300;
    }
  }
  .search-term-bold-letter {
    font-weight: 600;
  }
}
