@import '../../styleGuides/index';

.pg-select-value {
    padding: 16px 24px;
    cursor: pointer;
}

.options {
    background: white;
    border-radius: $border-radius;
    border: 1px solid $color-idle;
    overflow-y: auto;
    box-sizing: border-box;
}

:host {
  display: block;
  position: relative;

  .carat {
    position: absolute;
    right: 24px;
    top: calc(50% - 4px);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid $color-neutral-black;
  }
}
