<div
  class="pg-select-value"
  pgOverlayOrigin
  #origin="pgOverlayOrigin"
  [ngStyle]="{
    'max-width': optionsMaxWidth + 'px',
    'max-height': optionsMaxHeight + 'px',
    position: 'relative'
  }"
  (click)="handleCaretClicked()"
>
  <span class="font-field-label-l">{{ getSelectDisplayValue() }}</span>
  <div class="carat"></div>
</div>

<pg-connected-overlay [origin]="origin">
  <div
    #optionsWrapper
    class="options"
    [ngStyle]="{
      'max-width': optionsMaxWidth + 'px',
      'max-height': optionsMaxHeight + 'px',
      position: 'relative',
      'overflow-y': 'auto',
      'box-shadow': '0px 0px 2px 0px rgba(33, 43, 54, 0.32)'
    }"
  >
    <ng-content select="pg-option"></ng-content>
  </div>
</pg-connected-overlay>
