@import "../../components/src/lib/globals.scss";

body {
    background: $neutral100;
    margin: 0;
}

.application-body {
    box-sizing: content-box;
    margin: $min-height-header auto 0 auto;
    min-height: calc(#{$min-height} - #{$min-height-header});
    width: $max-width;
}