<div class="progress-indicator">
  <h1 class="progress-indicator__heading" [innerHTML]="model.heading"></h1>
  <p class="progress-indicator__body-copy" [innerHTML]="model.bodyCopy"></p>
  <ol class="progress-indicator__steps">
    <li
      *ngFor="let step of model.steps; let i = index"
      class="progress-indicator__step"
      [ngClass]="{
        'progress-indicator__step--current': i + 1 === currentStep,
        'progress-indicator__step--complete': i + 1 < currentStep
      }"
    >
      <h2 [innerHTML]="step.heading"></h2>
      <p [innerHTML]="step.bodyCopy"></p>
    </li>
  </ol>
  <button class="progress-indicator__next-label" gritButton color="primary" (click)="continue()">
    {{ model.nextLabel }}
  </button>
</div>
