@import '../globals.scss';

.progress-indicator {
  padding: 2rem 1.5rem;

  &__heading {
    @extend .uae-heading;
    margin: 0.5rem 0;
  }

  &__body-copy {
    @extend .uae-body-copy;
    margin: 0;
  }

  &__steps {
    border-left: solid 0.125rem $neutral500;
    counter-reset: steps;
    margin: 2rem 0 2rem 1rem;
    position: relative;
    z-index: 0;
  }

  &__step {
    &:before {
      @extend .uae-heading;
      align-items: center;
      background: $neutral100;
      border: solid 0.125rem $blue500;
      border-radius: 100%;
      box-shadow: 0 0 0 0.625rem $neutral100;
      color: $blue500;
      content: counter(steps);
      counter-increment: steps;
      display: flex;
      font-size: 1rem;
      height: 1.75rem;
      justify-content: center;
      left: -1.0625rem;
      position: absolute;
      top: 0;
      width: 1.75rem;
    }

    &--current {
      &:before {
        background: $blue500;
        color: $neutral100;
      }
    }

    &--complete {
      &:before {
        content: '';
        background-color: $neutral100;
        background-image: url(/assets/check.svg);
        background-position: center;
        background-repeat: no-repeat;
        border-color: $green500;
        fill: $green500;
      }
    }

    list-style: none;
    padding-left: 1.5rem;
    padding-top: 0.25rem;
    position: relative;
    z-index: 1;
    margin-top: 2.4rem;

    &:first-of-type {
      margin-top: 0;
    }

    &:last-of-type {
      border-left: solid 2px $neutral100;
      margin-left: -2px;
      padding-left: 1.625rem;
    }

    h2 {
      @extend .uae-heading;
      font-size: 1rem;
    }

    p {
      @extend .uae-body-copy;
      font-size: 0.8125rem;
    }
  }
}
