@import '../../styleGuides/index';

:host {
  display: block;
  position: relative;
}

.pg-checkbox-list-item-wrapper {
  height: 56px;
  @include sm {
    height: 72px;
  }
  max-height: 100px;
  transition: box-shadow 150ms;
  color: $color-neutral-black;
  border-radius: $border-radius-large;
  box-shadow: 0 0 2px 0 rgba(33, 43, 54, 0.24);
  background-color: $color-neutral-white-lightest;
  .checkbox-title {
    & * {
      color: inherit;
    }
  }
  .checkbox-helper-text {
    & * {
      color: inherit;
    }
  }
}

.pg-checkbox-list-item-wrapper:hover {
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(33, 43, 54, 0.32);
}

.checkbox-title {
  padding-left: 24px;
  padding-top: 16px;
  @include sm {
    padding-left: 48px;
    padding-top: 24px;
  }
}

.checkbox-helper-text {
  display: none;
  padding-left: 24px;
  @include sm {
    padding-left: 48px;
  }
  padding-top: 8px;
}

.select-icon-wrapper {
  float: right;
  margin-top: 16px;
  margin-right: 24px;
  user-select: none;
  @include sm {
    margin-top: 24px;
    margin-right: 48px;
  }
}

.checked {
  opacity: 0;
  display: none;
  user-select: none;
  color: $color-neutral-white-lightest;
}

.unchecked {
  user-select: none;
  color: $color-neutral-white;
}
