<div class="pg-checkbox-list-item-wrapper" checkbox-item #itemWrapper>
  <div class="select-icon-wrapper">
    <i #defaultStateIcon class="material-icons unchecked">brightness_1</i>
    <i #checkedIcon class="material-icons checked">check_circle</i>
  </div>
  <div class="checkbox-title">
    <ng-content select="[pg-title]"></ng-content>
  </div>
  <div class="checkbox-helper-text" #helperText>
    <ng-content select="[pg-content]"></ng-content>
  </div>
</div>
