@import "../globals.scss";

.apply-page {
    padding: 1rem;

    &__heading {
        @extend .uae-heading;
        margin: .5rem 0;
    }

    &__body-copy {
        @extend .uae-body-copy;
        margin: 0;
    }

    ::ng-deep .pg-field.is-complete .pg-suffix-icon.done {
        color: $green500;
    }

    ::ng-deep .pg-field.is-hovered:not(.is-error) .pg-suffix-icon.done {
        color: $green500;
    }

    ::ng-deep .pg-field.is-error .pg-suffix-icon.warning {
        color: $red500;
    }

    &__form-controls {
        @extend .uae-body-copy;
        margin: 1.5rem 0;
    }

    &__next-label {
        &.is-disabled {
            .grit-icon {
                color: $blue300;
            }
        }
        .grit-icon {
            font-weight: normal;
            margin-right: .5rem;
        }
    }

    &__security-affirmation {
        @extend .uae-body-copy;
        align-items: center;
        color:  $neutral700;
        display: flex;
        font-size: 0.8125rem;
        justify-content: center;
        margin-top: 1.5rem;

        .grit-icon {
            color:  $neutral700;
            margin-right: .5rem;
        }
    }
}

.temporary {
    margin: 1.5rem 0;
    text-align: center;
}