<div class="apply-page">
    <h1 class="apply-page__heading">{{ model.heading }}</h1>
    <p class="apply-page__body-copy">{{ model.bodyCopy }}</p>
    <div class="apply-page__form-controls">
        <ng-content></ng-content>
    </div>
    <button class="apply-page__next-label"
        gritButton
        color="primary"
        [disabled]="!formGroup.valid"
        (click)="continue()"
    ><grit-icon *ngIf="model.affirmSecurity">lock</grit-icon>{{ model.nextLabel }}</button>
    <span
        *ngIf="model.affirmSecurity"
        class="apply-page__security-affirmation"
    ><grit-icon>lock_outline</grit-icon>{{ securityAffirmation }}</span>
</div>