@import '../../styleGuides/index';

.pg-checkbox-input {
  display: none;
}

.pg-checkbox-input + label .pg-checkbox-mark {
  display: inline-block;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: $border-radius;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  //background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
  background: $gradient-neutral-idle;
  border: 1px solid $color-neutral-white-dark;
  cursor: pointer;
  transition: all 150ms ease-out;
  position: relative;
  &::before {
    position: absolute;
    top: -4px;
    left: 1px;
    font-size: 11px;
    font-family: 'Material Icons';
    content: '\E876';
    color: $color-primary;
    opacity: 0;
    transition: all 150ms;
  }
  outline: none;
}

.pg-checkbox-input:focus + label .pg-checkbox-mark,
.pg-checkbox-input:active + label .pg-checkbox-mark {
  border: 1px solid $color-primary;
}
.pg-checkbox-input:checked + label .pg-checkbox-mark {
  background: $gradient-neutral-idle;
  border: 1px solid $color-primary;
  &::before {
    // font-family: "Material Icons";
    // content: "\E876";
    // color: $color-primary;
    opacity: 1;
  }
}

.pg-checkbox-label {
  color: $color-neutral-black;
  @include font-body-s;
  cursor: pointer;
}

// Neutral styles
.pg-checkbox-input:focus + label .pg-checkbox-mark.neutral,
.pg-checkbox-input:active + label .pg-checkbox-mark.neutral {
  border: 1px solid $color-idle;
}

.pg-checkbox-input + label .pg-checkbox-mark.neutral {
  &::before {
    color: $color-idle;
  }
}

.pg-checkbox-input:checked + label .pg-checkbox-mark.neutral {
  border: 1px solid $color-idle;
}
