<div [formGroup]="parentForm" class="pg-checkbox-input-wrapper">
  <input
    id="{{ 'prog-check-' + this.id }}"
    type="checkbox"
    class="pg-checkbox-input"
    [formControlName]="controlName"
  />
  <label for="{{ 'prog-check-' + this.id }}" style="display: flex;">
    <span
      class="pg-checkbox-mark"
      [ngClass]="type"
      style="min-width: 16px; max-width: 16px; margin-top: 4px;"
    ></span>
    <span class="pg-checkbox-label">
      <ng-content></ng-content>
    </span>
  </label>
</div>
