@import '../../styleGuides/index';
$idle-border: 1px solid $color-idle;
$hover-border: 1px solid $color-hover;
$active-border: 1px solid $color-active;
$error-border: 1px solid $color-error;
.pg-address-wrapper {
  & * {
    box-sizing: border-box;
    transition: border-color 150ms, color 150ms;
  }
  border: none;
  border-radius: $border-radius;
  input {
    border: none;
    width: 100%;
    height: $textbox-height - 2;
    outline: none;
    position: absolute;
    padding: 24px 0 0 24px;
    color: $color-body-text;
    //font-size: 21px;
    // line-height: 31px;
    background: $color-neutral-white-lighter;
  }
  .pg-address-error-icon {
    position: absolute;
    top: 20px;
    right: 24px;
    color: $color-error;
    opacity: 0;
  }
  .pg-address-success-icon {
    position: absolute;
    top: 20px;
    right: 24px;
    color: $color-success;
    opacity: 0;
  }
  .pg-address-label {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 24px;
    @include font-field-label-l;
    color: $color-neutral-black;
    pointer-events: none;
  }
  .field-wrapper {
    position: relative;
    min-height: $textbox-height; //overflow-y: auto;
  }
  .city-state-zip-flex-container {
    display: flex;
    & * {
      flex: 1;
    }
  } // SUPER EXPLICIT BORDER CONTROL FOR EASY MANGEMENT
  .street1-wrapper {
    border-top: $idle-border;
    border-right: $idle-border;
    border-bottom: none;
    border-left: $idle-border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    .street1-input {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  .street2-wrapper {
    border-top: $idle-border;
    border-right: $idle-border;
    border-bottom: none;
    border-left: $idle-border;
    .street2-input {
    }
  }
  .city-wrapper {
    border-top: $idle-border;
    border-right: none;
    border-bottom: $idle-border;
    border-left: $idle-border;
    border-bottom-left-radius: $border-radius;
    .city-input {
      border-bottom-left-radius: $border-radius;
    }
  }
  .state-wrapper {
    border-top: $idle-border;
    border-right: $idle-border;
    border-bottom: $idle-border;
    border-left: $idle-border;
    .state-input {
    }
  }
  .zip-wrapper {
    border-top: $idle-border;
    border-right: $idle-border;
    border-bottom: $idle-border;
    border-left: none;
    border-bottom-right-radius: $border-radius;
    .zip-input {
      border-bottom-right-radius: $border-radius;
    }
  }
  .autocomplete-list-old,
  .state-autocomplete-list {
    display: none; //height: 208px;
    //max-height: 208px;
    opacity: 0;
    position: absolute;
    top: 64px;
    left: 128px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  .autocomplete-list-item-old,
  .state-autocomplete-list-item {
    height: 56px;
    line-height: 56px;
    white-space: nowrap;
    width: 100%;
    cursor: pointer;
    transition: background-color 150ms;
    border-bottom: 1px solid $color-idle;
    .bold-letter {
      font-weight: 600;
    }
    .line1 {
      font-weight: 400;
      color: $color-neutral-black-light;
    }
    .line2 {
      font-weight: 300;
      color: $color-neutral-white-dark;
    }
    &:hover {
      background-color: $color-neutral-white-light; //color: $color-neutral-black;
    }
  }
}

.addr-message-container * {
  display: block;
}

.pg-address-error {
  color: $color-error;
}

$complete-border: 1px solid $color-neutral-white-lighter;

.pg-address-wrapper.complete {
  .street1-wrapper {
    border-top: $complete-border;
    border-right: $complete-border;
    border-bottom: none;
    border-left: $complete-border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    min-height: $textbox-height;
    max-height: $textbox-height;
    .street1-input {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  .street2-wrapper {
    border-top: $complete-border;
    border-right: $complete-border;
    border-bottom: none;
    border-left: $complete-border;
    .street2-input {
    }
  }
  .city-wrapper {
    border-top: $complete-border;
    border-right: none;
    border-bottom: $complete-border;
    border-left: $complete-border;
    border-bottom-left-radius: $border-radius;
    .city-input {
      border-bottom-left-radius: $border-radius;
    }
  }
  .state-wrapper {
    border-top: $complete-border;
    border-right: $complete-border;
    border-bottom: $complete-border;
    border-left: $complete-border;
    .state-input {
    }
  }
  .zip-wrapper {
    border-top: $complete-border;
    border-right: $complete-border;
    border-bottom: $complete-border;
    border-left: none;
    border-bottom-right-radius: $border-radius;
    .zip-input {
      border-bottom-right-radius: $border-radius;
    }
  }
}

.pg-address-wrapper.hover {
  .street1-wrapper {
    border-top: $hover-border;
    border-right: $hover-border;
    border-bottom: none;
    border-left: $hover-border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    min-height: $textbox-height;
    max-height: $textbox-height;
    .street1-input {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  .street2-wrapper {
    border-top: $idle-border;
    border-right: $hover-border;
    border-bottom: none;
    border-left: $hover-border;
    .street2-input {
    }
  }
  .city-wrapper {
    border-top: $idle-border;
    border-right: none;
    border-bottom: $hover-border;
    border-left: $hover-border;
    border-bottom-left-radius: $border-radius;
    .city-input {
      border-bottom-left-radius: $border-radius;
    }
  }
  .state-wrapper {
    border-top: $idle-border;
    border-right: $idle-border;
    border-bottom: $hover-border;
    border-left: $idle-border;
    .state-input {
    }
  }
  .zip-wrapper {
    border-top: $idle-border;
    border-right: $hover-border;
    border-bottom: $hover-border;
    border-left: none;
    border-bottom-right-radius: $border-radius;
    .zip-input {
      border-bottom-right-radius: $border-radius;
    }
  }
}

.pg-address-wrapper.focus {
  .street1-wrapper {
    border-top: $active-border;
    border-right: $active-border;
    border-bottom: none;
    border-left: $active-border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    .street1-input {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  .street2-wrapper {
    border-top: $idle-border;
    border-right: $active-border;
    border-bottom: none;
    border-left: $active-border;
    .street2-input {
    }
  }
  .city-wrapper {
    border-top: $idle-border;
    border-right: none;
    border-bottom: $active-border;
    border-left: $active-border;
    border-bottom-left-radius: $border-radius;
    .city-input {
      border-bottom-left-radius: $border-radius;
    }
  }
  .state-wrapper {
    border-top: $idle-border;
    border-right: $idle-border;
    border-bottom: $active-border;
    border-left: $idle-border;
    .state-input {
    }
  }
  .zip-wrapper {
    border-top: $idle-border;
    border-right: $active-border;
    border-bottom: $active-border;
    border-left: none;
    border-bottom-right-radius: $border-radius;
    .zip-input {
      border-bottom-right-radius: $border-radius;
    }
  }
}

.pg-address-wrapper.error {
  .street1-wrapper {
    border-top: $error-border;
    border-right: $error-border;
    border-bottom: none;
    border-left: $error-border;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    .street1-input {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  .street2-wrapper {
    border-top: $idle-border;
    border-right: $error-border;
    border-bottom: none;
    border-left: $error-border;
    .street2-input {
    }
  }
  .city-wrapper {
    border-top: $idle-border;
    border-right: none;
    border-bottom: $error-border;
    border-left: $error-border;
    border-bottom-left-radius: $border-radius;
    .city-input {
      border-bottom-left-radius: $border-radius;
    }
  }
  .state-wrapper {
    border-top: $idle-border;
    border-right: $idle-border;
    border-bottom: $error-border;
    border-left: $idle-border;
    .state-input {
    }
  }
  .zip-wrapper {
    border-top: $idle-border;
    border-right: $error-border;
    border-bottom: $error-border;
    border-left: none;
    border-bottom-right-radius: $border-radius;
    .zip-input {
      border-bottom-right-radius: $border-radius;
    }
  }
}

// MOBILE-STYLES
@media all and (max-width: $width-threshold-tablet-portrait - 1) {
  .pg-address-wrapper {
    .city-state-zip-flex-container {
      display: flex;
      flex-direction: column;
      & * {
        flex: 1;
      }
    }
    .street1-wrapper {
      border-top: $idle-border;
      border-right: $idle-border;
      border-bottom: none;
      border-left: $idle-border;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      .street1-input {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
    .street2-wrapper {
      border-top: $idle-border;
      border-right: $idle-border;
      border-bottom: none;
      border-left: $idle-border;
      .street2-input {
      }
    }
    .city-wrapper {
      border-top: $idle-border;
      border-right: $idle-border;
      border-bottom: none;
      border-left: $idle-border;
      border-bottom-left-radius: 0;
      .city-input {
        border-bottom-left-radius: 0;
      }
    }
    .state-wrapper {
      border-top: $idle-border;
      border-right: $idle-border;
      border-bottom: none;
      border-left: $idle-border;
      .state-input {
      }
    }
    .zip-wrapper {
      border-top: $idle-border;
      border-right: $idle-border;
      border-bottom: $idle-border;
      border-left: $idle-border;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      .zip-input {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }
    }
  }
  .pg-address-wrapper.hover {
    .street1-wrapper {
      border-top: $hover-border;
      border-right: $hover-border;
      border-bottom: none;
      border-left: $hover-border;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      min-height: $textbox-height;
      max-height: $textbox-height;
      .street1-input {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
    .street2-wrapper {
      border-top: $idle-border;
      border-right: $hover-border;
      border-bottom: none;
      border-left: $hover-border;
      .street2-input {
      }
    }
    .city-wrapper {
      border-top: $idle-border;
      border-right: $hover-border;
      border-bottom: none;
      border-left: $hover-border;
      border-bottom-left-radius: 0;
      .city-input {
        border-bottom-left-radius: 0;
      }
    }
    .state-wrapper {
      border-top: $idle-border;
      border-right: $hover-border;
      border-bottom: none;
      border-left: $hover-border;
      .state-input {
      }
    }
    .zip-wrapper {
      border-top: $hover-border;
      border-right: $hover-border;
      border-bottom: $hover-border;
      border-left: $hover-border;
      border-bottom-right-radius: $border-radius;
      .zip-input {
        border-bottom-right-radius: $border-radius;
      }
    }
  }
  .pg-address-wrapper.focus {
    .street1-wrapper {
      border-top: $active-border;
      border-right: $active-border;
      border-bottom: none;
      border-left: $active-border;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      min-height: $textbox-height;
      max-height: $textbox-height;

      .street1-input {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }

    .street2-wrapper {
      border-top: $idle-border;
      border-right: $active-border;
      border-bottom: none;
      border-left: $active-border;

      .street2-input {
      }
    }

    .city-wrapper {
      border-top: $idle-border;
      border-right: $active-border;
      border-bottom: none;
      border-left: $active-border;
      border-bottom-left-radius: 0;

      .city-input {
        border-bottom-left-radius: 0;
      }
    }

    .state-wrapper {
      border-top: $idle-border;
      border-right: $active-border;
      border-bottom: none;
      border-left: $active-border;

      .state-input {
      }
    }

    .zip-wrapper {
      border-top: $idle-border;
      border-right: $active-border;
      border-bottom: $active-border;
      border-left: $active-border;
      border-bottom-right-radius: $border-radius;

      .zip-input {
        border-bottom-right-radius: $border-radius;
      }
    }
  }
  .pg-address-wrapper.complete {
    .street1-wrapper {
      border-top: $complete-border;
      border-right: $complete-border;
      border-bottom: none;
      border-left: $complete-border;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      min-height: $textbox-height;
      max-height: $textbox-height;

      .street1-input {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }

    .street2-wrapper {
      border-top: $complete-border;
      border-right: $complete-border;
      border-bottom: none;
      border-left: $complete-border;

      .street2-input {
      }
    }

    .city-wrapper {
      border-top: $complete-border;
      border-right: $complete-border;
      border-bottom: none;
      border-left: $complete-border;
      border-bottom-left-radius: 0;

      .city-input {
        border-bottom-left-radius: 0;
      }
    }

    .state-wrapper {
      border-top: $complete-border;
      border-right: $complete-border;
      border-bottom: none;
      border-left: $complete-border;

      .state-input {
      }
    }

    .zip-wrapper {
      border-top: $complete-border;
      border-right: $complete-border;
      border-bottom: $complete-border;
      border-left: $complete-border;
      border-bottom-right-radius: 4px;

      .zip-input {
        border-bottom-right-radius: 4px;
      }
    }
  }
  .pg-address-wrapper.error {
    .street1-wrapper {
      border-top: $error-border;
      border-right: $error-border;
      border-bottom: none;
      border-left: $error-border;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      min-height: $textbox-height;
      max-height: $textbox-height;
      .street1-input {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
      }
    }
    .street2-wrapper {
      border-top: $idle-border;
      border-right: $error-border;
      border-bottom: none;
      border-left: $error-border;
      .street2-input {
      }
    }
    .city-wrapper {
      border-top: $idle-border;
      border-right: $error-border;
      border-bottom: none;
      border-left: $error-border;
      border-bottom-left-radius: 0;
      .city-input {
        border-bottom-left-radius: 0;
      }
    }
    .state-wrapper {
      border-top: $idle-border;
      border-right: $error-border;
      border-bottom: none;
      border-left: $error-border;
      .state-input {
      }
    }
    .zip-wrapper {
      border-top: $error-border;
      border-right: $error-border;
      border-bottom: $error-border;
      border-left: $error-border;
      border-bottom-right-radius: $border-radius;
      .zip-input {
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}
