<div
  class="pg-address-wrapper"
  [class.hover]="inputState.hover"
  [class.focus]="inputState.focus"
  [class.error]="inputState.error"
  [class.complete]="complete && !inputState.focus"
  (mouseover)="onMouseEvent(true)"
  (mouseleave)="onMouseEvent(false)"
>
  <div class="street1-wrapper field-wrapper" #street1Wrapper>
    <ng-content select="[pgAddressLabel=street1]"></ng-content>
    <ng-content select="[pgAddressInput=street1]"></ng-content>
    <i pgAddressErrorIcon="street1"></i>
    <i pgAddressSuccessIcon="street1"></i>
    <div class="autocomplete-list-old" #autocompleteListEl>
      <pg-autocomplete-list-item
        *ngFor="let item of addressAutocompleteList"
        [line1]="item.line1"
        [line2]="item.line2"
        [matchingString]="this.getStreet1Value()"
        (selected)="this.handleAddressItemSelected(item)"
      ></pg-autocomplete-list-item>
    </div>
  </div>
  <div class="street2-wrapper field-wrapper">
    <ng-content select="[pgAddressLabel=street2]"></ng-content>
    <ng-content select="[pgAddressInput=street2]"></ng-content>
    <i pgAddressErrorIcon="street2"></i>
    <i pgAddressSuccessIcon="street2"></i>
  </div>
  <div class="city-state-zip-flex-container">
    <div class="city-wrapper field-wrapper">
      <ng-content select="[pgAddressLabel=city]"></ng-content>
      <ng-content select="[pgAddressInput=city]"></ng-content>
      <i pgAddressErrorIcon="city"></i>
      <i pgAddressSuccessIcon="city"></i>
    </div>
    <div class="state-wrapper field-wrapper" #stateWrapper>
      <ng-content select="[pgAddressLabel=state]"></ng-content>
      <ng-content select="[pgAddressInput=state]"></ng-content>
      <i pgAddressErrorIcon="state"></i>
      <i pgAddressSuccessIcon="state"></i>
      <div class="state-autocomplete-list" #stateAutocompleteListEl>
        <pg-autocomplete-list-item
          *ngFor="let item of getMatchingStateAutocompleteList()"
          [matchingString]="this.getStateValue()"
          [line1]="item.display"
          (click)="handleStateItemSelected(item)"
        ></pg-autocomplete-list-item>
      </div>
    </div>
    <div class="zip-wrapper field-wrapper">
      <ng-content select="[pgAddressLabel=zip] "></ng-content>
      <ng-content select="[pgAddressInput=zip] "></ng-content>
      <i pgAddressErrorIcon="zip"></i>
      <i pgAddressSuccessIcon="zip"></i>
    </div>
  </div>
</div>
<div class="addr-message-container">
  <ng-content select="[pgAddressError=street1]"></ng-content>
  <ng-content select="[pgAddressError=street2]"></ng-content>
  <ng-content select="[pgAddressError=city]"></ng-content>
  <ng-content select="[pgAddressError=state]"></ng-content>
  <ng-content select="[pgAddressError=zip]"></ng-content>
</div>
