<div class="flex-section logo-section">
  <div class="logo"></div>
</div>
<div class="flex-section center-section">
  <ng-content></ng-content>
</div>
<div class="flex-section exit-section">
  <button
    pgButton
    (click)="this.exitClicked.emit({})"
    class="desktop-header-button"
    type="primary-transparent"
  >
    Exit
    <span class="material-icons">exit_to_app</span>
  </button>
  <button
    pgButton
    (click)="this.exitClicked.emit({})"
    class="mobile-header-button"
    type="primary-transparent"
  >
    <span class="material-icons">exit_to_app</span>
  </button>
</div>
