@import '../../styleGuides/index';

:host {
  display: flex;
  position: relative;
  width: 100%;
  height: $header-height;
  background: transparent;

  .flex-section {
    background: transparent;
  }

  .center-section {
    flex: 1 1 auto;
    position: relative;
  }

  .exit-section {
    padding: 8px 40px;
  }

  .logo-section {
    padding: 24px 40px;
    .logo{
      width: 100%;
      height: 100%;
      background-image: url('/assets/images/primaryLogowhite.svg');
      height: 48px;
      width: 193px;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

}

.desktop-header-button {
  display: flex;
}

.mobile-header-button {
  display: none;
}

@media all and (max-width: $width-threshold-tablet-portrait - 1) {
  :host {
    height: $header-height-mobile;
    .logo-section {
      .logo{
        width: 100%;
        height: 100%;
        background-image: url('/assets/images/primaryLogowhite.svg');
        height: 100%;
        width: 160px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  .desktop-header-button {
    display: none;
  }

  .mobile-header-button {
    display: flex;
  }
}
