<div class="big-form-padding">
  <pg-linear-loader [hidden]="isFinished">
    <pg-linear-loader-message duration="2" delay="2">
      {{ 'Submitted.EstablishingSecureConnection' | translate }}
    </pg-linear-loader-message>
    <pg-linear-loader-message duration="4">
      {{ 'Submitted.ReviewingApplication' | translate }}
    </pg-linear-loader-message>
    <pg-linear-loader-message>
      {{ 'Submitted.GeneratingResults' | translate }}
    </pg-linear-loader-message>
  </pg-linear-loader>
</div>
