<div class="basic-info">
  <div class="title">
    {{ 'PersonalInfo.Title' | translate }}
  </div>
  <div class="sub-title sub-title-padding">
    {{ 'PersonalInfo.BodyTitle' | translate }}
  </div>
  <div [formGroup]="basicInfoFormGroup">
    <div
      class="original-padding"
      [ngClass]="{
        'new-padding':
          !basicInfoFormGroup.get('firstName').valid &&
          basicInfoFormGroup.get('firstName').touched
      }"
    >
      <grit-field size="sm">
        <label gritLabel>
          First Name
        </label>
        <input
          id="first-name"
          gritInput
          #firstNameInput="gritInput"
          formControlName="firstName"
          maxlength="40"
        />
        <grit-suffix-icons>
          <grit-icon
            id="first-name-icon-checkmark"
            gritSuffixIcon
            class="fg-green500"
            [visible]="
              !firstNameInput.isFocused &&
              firstNameInput.value &&
              !firstNameInput.isError
            "
            >done</grit-icon
          >
          <grit-icon
            id="first-name-icon-error"
            gritSuffixIcon
            class="fg-red500"
            [visible]="firstNameInput.isError"
          >
            warning</grit-icon
          >
        </grit-suffix-icons>
        <grit-subscript-messages>
          <span
            id="first-name-err-required"
            gritValidationErrorTracker
            gritError
            for="required"
            >{{ 'Error.FirstNameRequired' | translate }}</span
          >
          <span
            id="first-name-err-letter"
            gritValidationErrorTracker
            gritError
            for="startsWithLetter"
            >{{ 'Error.FirstNameBeginsWith' | translate }}</span
          >
          <span
            id="first-name-err-space"
            gritValidationErrorTracker
            gritError
            for="startsWithSpace"
            >{{ 'Error.FirstNameStartWithSpace' | translate }}</span
          >
          <span
            id="first-name-err-format"
            gritValidationErrorTracker
            gritError
            for="nameFormat"
            >{{ 'Error.FirstNameFormatting' | translate }}</span
          >
        </grit-subscript-messages>
      </grit-field>
    </div>

    <div
      class="original-padding"
      [ngClass]="{
        'new-padding':
          !basicInfoFormGroup.get('lastName').valid &&
          basicInfoFormGroup.get('lastName').touched
      }"
    >
      <grit-field size="sm">
        <label gritLabel>
          Last name
        </label>
        <input
          id="last-name"
          gritInput
          #lastNameInput="gritInput"
          formControlName="lastName"
          maxlength="40"
        />
        <grit-suffix-icons>
          <grit-icon
            id="last-name-icon-checkmark"
            gritSuffixIcon
            class="fg-green500"
            [visible]="
              !lastNameInput.isFocused &&
              lastNameInput.value &&
              !lastNameInput.isError
            "
            >done</grit-icon
          >
          <grit-icon
            id="last-name-icon-error"
            gritSuffixIcon
            class="fg-red500"
            [visible]="lastNameInput.isError"
          >
            warning
          </grit-icon>
        </grit-suffix-icons>
        <grit-subscript-messages>
          <span
            id="last-name-err-required"
            gritValidationErrorTracker
            gritError
            for="required"
            >{{ 'Error.LastNameRequired' | translate }}</span
          >
          <span
            id="last-name-err-letter"
            gritValidationErrorTracker
            gritError
            for="startsWithLetter"
            >{{ 'Error.LastNameBeginsWith' | translate }}</span
          >
          <span
            id="last-name-err-space"
            gritValidationErrorTracker
            gritError
            for="startsWithSpace"
            >{{ 'Error.LastNameStartWithSpace' | translate }}</span
          >
          <span
            id="last-name-err-format"
            gritValidationErrorTracker
            gritError
            for="nameFormat"
            >{{ 'Error.LastNameFormatting' | translate }}</span
          >
        </grit-subscript-messages>
      </grit-field>
    </div>

    <div
      class="original-padding"
      [ngClass]="{
        'new-padding':
          !basicInfoFormGroup.get('dateOfBirth').valid &&
          basicInfoFormGroup.get('dateOfBirth').touched
      }"
    >
      <grit-field size="sm">
        <label gritLabel>
          Date of birth
        </label>
        <input
          id="dob"
          gritInput
          #dateOfBirth="gritInput"
          formControlName="dateOfBirth"
          [textMask]="{
            mask: dateOfBirthTextMask,
            placeholderChar: '\u2000',
            guide: false
          }"
          type="tel"
          placeholder="MM/DD/YYYY"
        />
        <grit-prefix-icons [iconDisplayOption]="1">
          <grit-icon gritPrefixIcon>cake</grit-icon>
        </grit-prefix-icons>
        <grit-suffix-icons>
          <grit-icon
            id="dob-icon-checkmark"
            gritSuffixIcon
            class="fg-green500"
            [visible]="
              !dateOfBirth.isFocused &&
              dateOfBirth.value &&
              !dateOfBirth.isError
            "
            >done</grit-icon
          >
          <grit-icon
            id="dob-icon-error"
            gritSuffixIcon
            class="fg-red500"
            [visible]="dateOfBirth.isError"
          >
            warning
          </grit-icon>
        </grit-suffix-icons>
        <grit-subscript-messages>
          <span
            id="dob-err-required"
            gritValidationErrorTracker
            gritError
            for="required"
            >{{ 'Error.DateOfBirthRequired' | translate }}</span
          >
          <span
            id="dob-err-month"
            gritValidationErrorTracker
            gritError
            for="month"
            >{{ 'Error.DateOfBirthMonth' | translate }}</span
          >
          <span
            id="dob-err-day"
            gritValidationErrorTracker
            gritError
            for="day"
            >{{ 'Error.DateOfBirthDay' | translate }}</span
          >
          <span
            id="dob-err-year"
            gritValidationErrorTracker
            gritError
            for="year"
            >{{ 'Error.DateOfBirthYear' | translate }}</span
          >
          <span
            id="dob-err-min"
            gritValidationErrorTracker
            gritError
            for="minAge"
            >{{ 'Error.DateOfBirthMinimum' | translate }}</span
          >
          <span
            id="dob-err-max"
            gritValidationErrorTracker
            gritError
            for="maxAge"
            >{{ 'Error.DateOfBirthMaximum' | translate }}</span
          >
        </grit-subscript-messages>
      </grit-field>
    </div>

    <div
      class="original-padding"
      [ngClass]="{
        'new-padding':
          !basicInfoFormGroup.get('ssn').valid &&
          basicInfoFormGroup.get('ssn').touched
      }"
    >
      <grit-field size="sm">
        <label gritLabel>
          SSN or ITIN
        </label>
        <input
          id="ssn"
          gritInput
          #ssn="gritInput"
          formControlName="ssn"
          [textMask]="{
            mask: ssnTextMask,
            placeholderChar: '\u2000',
            guide: false
          }"
          placeholder="888-88-8888"
          autocomplete="false"
          timerTextMask
          [isMasked]="isMasked"
          (maskChanged)="onMaskChanged($event)"
          [timeoutSecs]="3"
          type="password"
        />
        <grit-prefix-icons [iconDisplayOption]="1">
          <grit-icon gritPrefixIcon>security</grit-icon>
        </grit-prefix-icons>
        <grit-suffix-icons>
          <grit-icon
            id="ssn-icon-checkmark"
            gritSuffixIcon
            class="fg-green500"
            [visible]="!ssn.isFocused && ssn.value && !ssn.isError"
            >done</grit-icon
          >
          <grit-icon
            id="ssn-icon-error"
            gritSuffixIcon
            class="fg-red500"
            [visible]="ssn.isError"
            >warning
          </grit-icon>
          <grit-icon
            id="ssn-icon-show"
            gritSuffixIcon
            [visible]="ssn.value && !isMasked"
            (click)="onMaskChanged(!isMasked)"
            class="clickable"
          >
            visibility</grit-icon
          >
          <grit-icon
            id="ssn-icon-hide"
            gritSuffixIcon
            [visible]="ssn.value && isMasked"
            (click)="onMaskChanged(!isMasked)"
            class="clickable"
            >visibility_off</grit-icon
          >
        </grit-suffix-icons>
        <grit-subscript-messages>
          <span id="ssn-hint" gritHint>{{ 'Info.SSNOrITIN' | translate }}</span>
          <span
            id="ssn-err-required"
            gritValidationErrorTracker
            gritError
            for="required"
            >{{ 'Error.SSNRequired' | translate }}</span
          >
          <span
            id="ssn-err-invalid"
            gritValidationErrorTracker
            gritError
            for="ssn"
            >{{ 'Error.SSNInvalid' | translate }}</span
          >
          <span
            id="ssn-err-length"
            gritValidationErrorTracker
            gritError
            for="length"
            >{{ 'Error.SSNFormatting' | translate }}</span
          >
        </grit-subscript-messages>
      </grit-field>
    </div>
    <div class="field-spacer">
      <button
        id="button-apply-basic-info"
        gritButton
        class="btnContinue"
        color="primary"
        size="md"
        [disabled]="basicInfoFormGroup.invalid"
        (click)="onContinue()"
        [loading]="saveResumableStatus.status === statuses.Sending"
      >
        {{ 'PersonalInfo.NextButton' | translate }}
      </button>
    </div>
  </div>
</div>
