@import '~@progleasing/grit-core/styles/grit-global';

:host {
  background: white;
}

.sub-title-padding {
  padding-bottom: 1.5rem;
}

.pg-grouped-input {
  @include placeholder {
    opacity: 1 !important;
  }
}

.error-icon {
  color: #d80800 !important;
}

.basic-info {
  background: white;
}

.original-padding {
  padding-bottom: 0rem;
  transition: padding $transition-duration-short $transition-curve-acceleration;
  &.new-padding {
    padding-bottom: 0rem;
  }
  @media screen and (min-width: $width-breakpoint-mobile-l) {
    &.new-padding {
      padding-bottom: 1.5rem;
    }
  }
}

