<header class="application-header">
  <div class="application-header__previous-control">
    <grit-icon (click)="previous()">arrow_back</grit-icon>
  </div>
  <div class="application-header__branding">
    <img alt="Progressive Leasing" src="assets/progressive-logo-small.svg" />
  </div>
  <div class="application-header__exit-control">
    <grit-icon (click)="exit()">close</grit-icon>
  </div>
</header>
