@import "node_modules/@progleasing/grit-core/styles/colors.scss";
@import "node_modules/@progleasing/grit-core/styles/typography.scss";

$max-width: 375px;
$min-height-header: 64px;
$min-height: 665px;

* {
    box-sizing: border-box;
}

.uae-heading {
    color: $neutral900;
    font-family: $primary-font;
    font-size: 1.3125rem;
    font-weight: $font-weight-semibold;
    line-height: 1.6rem;
    letter-spacing: $common-letter-spacing;
}

.uae-body-copy {
    color: $neutral900;
    font-family: $secondary-font;
    font-size: 1rem;
    font-weight: $font-weight-regular;
    line-height: 1.5em;
    letter-spacing: $common-letter-spacing;
}

.pg-button {
    width: 100%;
}
