@import '~libs/shared/ui/src/lib/styleGuides/index';

:host {
  background: white;
}

:host ::ng-deep li {
  padding-bottom: 16px;
  margin-left: 1rem;
}

:host ::ng-deep .sub-title {
  color: rgb(33, 43, 54);
}

:host ::ng-deep .title {
    font-size: 21px;
    padding-bottom: 16px;
}

:host ::ng-deep .top-space4 {
  margin-top: space(3);
}
