<div class="title">
  {{ 'SubmitApplication.Title' | translate }}
</div>
<div>
  <ul *ngFor="let sectionText of 'SubmitApplication.Sections' | translate">
    <li class="sub-title">{{ sectionText }}</li>
  </ul>
  <button
    id="continue-button"
    gritButton
    color="primary"
    class="btnContinue"
    (click)="onContinue()"
  >
    {{ 'SubmitApplication.ButtonText' | translate }}
  </button>
</div>
<div class="top-space3"></div>
