@import '../globals.scss';

.application-header {
  background-color: $neutral100;
  box-shadow: 0px 0px 1px 0px rgba(33, 43, 54, 0.16), 0px 1px 1px 0px rgba(33, 43, 54, 0.16);
  color: $neutral900;
  display: flex;
  left: 0;
  min-height: $min-height-header;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  &__previous-control {
    align-self: center;
    display: flex;
  }

  &__branding {
    align-self: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
  }

  &__exit-control {
    align-self: center;
    display: flex;
  }
}
