@import '~libs/shared/ui/src/lib/styleGuides/index.scss';

.terms-sheet {
  padding: 2rem 1rem 1rem 1rem;

  &__heading {
    @extend .uae-heading;
    margin: 0 0 0.46875rem 0;
  }

  &__body-copy {
    @extend .uae-body-copy;
    margin: 0.46875rem 0;

     ::ng-deep {
        p {
          margin-bottom: 1rem;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
    }
  }

  &__terms {
    @extend .uae-body-copy;
    margin: 2rem 0 1.5rem 0;
    padding-left: 1rem;
  }

  &__term {
    margin: 0 0 1.5rem 0;
  }
}
