<div class="terms-sheet">
  <h1 class="terms-sheet__heading">{{ heading }}</h1>
  <div
    *ngIf="bodyCopy"
    class="terms-sheet__body-copy"
    [innerHtml]="bodyCopy"
  ></div>
  <ul class="terms-sheet__terms">
    <li
      *ngFor="let term of terms"
      class="terms-sheet__term"
      [innerHtml]="term"
    ></li>
  </ul>
  <button
    class="terms-sheet__agreement-label"
    gritButton
    color="primary"
    (click)="agreeToTerms()"
  >
    {{ agreementLabel }}
  </button>
</div>
