@import '../../styleGuides/index';
:host{
    position: relative;
    height: 4px;
}
.pg-header-progress {
    width: 100%;
    height: 4px;
    left: 0;
    right: 0;
    background: $gradient-neutral-progress;
    position: fixed;
    -webkit-backface-visibility: hidden;
    top: $header-height-mobile;
    z-index: 4;
    .pg-header-progress-indicator {
        height: 100%;
        background-color: $color-primary;
        transition: width $transition-speed;
    }
}
@media all and (min-width: $width-threshold-tablet-portrait) {
    .pg-header-progress {
        top: $header-height;
    }
}
