<div [formGroup]="this.incomeForm">
  <div class="title">{{ 'IncomeInfo.Title' | translate }}</div>
  <div class="sub-title top-space1">
    {{ 'IncomeInfo.Subtitle' | translate }}
  </div>

  <div class="top-space3">
    <grit-field size="sm">
      <span gritLabel>{{
        'IncomeInfo.Labels.MonthlyIncomeLabel' | translate
      }}</span>
      <input
        gritInput
        data-test-id="monthly-income-input"
        id="monthly-income-input"
        formControlName="monthlyIncome"
        #monthlyIncome="gritInput"
        currencyFormat
        maxlength="9"
        (blur)="addTrailingZeros(monthlyIncome.value)"
        autocomplete="off"
      />
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>attach_money</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon
          gritSuffixIcon
          class="success"
          [visible]="
            !monthlyIncome.isFocused &&
            monthlyIncome.value &&
            !monthlyIncome.isError
          "
          >done</grit-icon
        >
        <grit-icon
          gritSuffixIcon
          [visible]="monthlyIncome.isError"
          class="error"
          >warning</grit-icon
        >
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritError for="error">{{
          incomeForm.get('monthlyIncome').getError('error')
        }}</span>
      </grit-subscript-messages>
    </grit-field>
  </div>

  <div [class.media-query-top-space3]="monthlyIncome.isError">
    <grit-field size="sm">
      <span gritLabel>{{ 'IncomeInfo.Labels.LastPayDate' | translate }}</span>
      <input
        gritInput
        data-test-id="last-pay-date"
        id="last-pay-date"
        #lastPayDate="gritInput"
        formControlName="lastPayDate"
        [pgCalendarInput]="lastPayDatePicker"
        closeOnBackdropClick="true"
      />
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>today</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon
          id="last-pay-date-icon-checkmark"
          gritSuffixIcon
          class="success"
          [visible]="
            !lastPayDate.isFocused && lastPayDate.value && !lastPayDate.isError
          "
          >done</grit-icon
        >
        <grit-icon
          id="last-pay-date-icon-error"
          gritSuffixIcon
          class="error"
          [visible]="lastPayDate.isError"
        >
          warning
        </grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span
          id="last-pay-date-err-required"
          gritValidationErrorTracker
          gritError
          for="required"
          >{{ 'IncomeInfo.Errors.LastPayDateRequired' | translate }}</span
        >
      </grit-subscript-messages>
    </grit-field>
    <grit-calendar
      #lastPayDatePicker
      format="MM/DD/YYYY"
      (backdropClicked)="lastPayDate.focus(); lastPayDate.blur()"
      [minDate]="this.lastPayDateMinMaxRule.minDate"
      [maxDate]="this.lastPayDateMinMaxRule.maxDate"
    >
      <span gritLabel>{{
        'IncomeInfo.Labels.SelectYourLastPayDay' | translate
      }}</span>
    </grit-calendar>
  </div>

  <div [class.media-query-top-space3]="lastPayDate.isError">
    <grit-field size="sm">
      <span gritLabel>{{ 'IncomeInfo.Labels.NextPayDate' | translate }}</span>
      <input
        gritInput
        id="next-pay-date"
        formControlName="nextPayDate"
        [pgCalendarInput]="nextPayDatePicker"
        closeOnBackdropClick="true"
        #nextPayDate="gritInput"
      />
      <grit-prefix-icons [iconDisplayOption]="1">
        <grit-icon gritPrefixIcon>today</grit-icon>
      </grit-prefix-icons>
      <grit-suffix-icons>
        <grit-icon
          id="next-pay-date-icon-checkmark"
          gritSuffixIcon
          class="success"
          [visible]="
            !nextPayDate.isFocused && nextPayDate.value && !nextPayDate.isError
          "
          >done</grit-icon
        >
        <grit-icon
          id="next-pay-date-icon-error"
          gritSuffixIcon
          class="error"
          [visible]="nextPayDate.isError"
        >
          warning
        </grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span
          id="next-pay-date-err-required"
          gritValidationErrorTracker
          gritError
          for="required"
          >{{ 'IncomeInfo.Errors.NextPayDateRequired' | translate }}</span
        >
      </grit-subscript-messages>
    </grit-field>
    <grit-calendar
      #nextPayDatePicker
      format="MM/DD/YYYY"
      (backdropClicked)="nextPayDate.focus(); nextPayDate.blur()"
      [minDate]="this.nextPayDateMinMaxRule.minDate"
      [maxDate]="this.nextPayDateMinMaxRule.maxDate"
    >
      <span gritLabel>{{
        'IncomeInfo.Labels.SelectYourNextPayDay' | translate
      }}</span>
    </grit-calendar>
  </div>

  <div
    id="frequency-dropdown"
    [class.media-query-top-space3]="nextPayDate.isError"
  >
    <grit-field size="sm">
      <label gritLabel>
        {{ 'IncomeInfo.Labels.PaymentFrequency' | translate }}
      </label>
      <input
        id="payment-frequency"
        gritInput
        #paymentFrequency="gritInput"
        formControlName="paymentFrequency"
      />
      <grit-field-bottom-border-gap>
        <grit-drop-down #frequencyComponent>
          <span
            gritDropDownItem
            *ngFor="let freq of paymentOptions"
            value="{{ freq.value }}"
            [searchableTerms]="freq.searchableTerms"
            id="{{ freq.id }}"
          >
            {{ freq.displayText }}
          </span>
        </grit-drop-down>
      </grit-field-bottom-border-gap>

      <grit-suffix-icons>
        <grit-icon gritSuffixIcon [visible]="true">arrow_drop_down </grit-icon>
      </grit-suffix-icons>
      <grit-subscript-messages>
        <span gritHint>{{
          'IncomeInfo.Hints.PaymentFrequency' | translate
        }}</span>
        <span
          id="paymentFreq-err-required"
          gritValidationErrorTracker
          gritError
          for="required"
          >{{ 'IncomeInfo.Errors.PaymentFrequencyRequired' | translate }}</span
        >
      </grit-subscript-messages>
    </grit-field>
  </div>

  <div
    [class.media-query-top-space3]="
      paymentFrequency.isError ||
      paymentFrequency.isFocused ||
      paymentFrequency.value
    "
    class="flex-content"
  >
    <button
      id="continue-button"
      gritButton
      color="primary"
      class="btnContinue"
      (click)="onContinue()"
      [disabled]="incomeForm.invalid"
      [loading]="saveResumableStatus.status === statuses.Sending"
    >
      <em class="material-icons-outlined">https</em>
      <span>{{ 'Common.Buttons.Continue' | translate }}</span>
    </button>
  </div>

  <div class="top-space3 flex-content">
    <span class="material-icons-outlined">https</span>
    <span>
      <p class="paragraph left-space1">
        {{ 'Common.Messages.SensitiveData' | translate }}
      </p>
    </span>
  </div>
</div>
